<div class="box-fix-down">
  <div class="service-name" (click)="del_col()">
    <div class="detail">
      <p>Delivery in 15 - 25 min</p>
      <p>BN37SB</p>
    </div>
    <div class="icon" [ngClass]="{ active: iconRotate }">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18.031"
        height="9.435"
        viewBox="0 0 18.031 9.435"
      >
        <g
          id="Group_2214"
          data-name="Group 2214"
          transform="translate(1.411 8.023) rotate(-90)"
          style="isolation: isolate;"
        >
          <line
            id="Line_7"
            data-name="Line 7"
            x1="6.612"
            y1="7.494"
            transform="translate(0 7.714)"
            fill="none"
            stroke="#7e7e7e"
            stroke-linecap="round"
            stroke-width="2"
          />
          <line
            id="Line_8"
            data-name="Line 8"
            x1="6.612"
            y2="7.494"
            transform="translate(0)"
            fill="none"
            stroke="#7e7e7e"
            stroke-linecap="round"
            stroke-width="2"
          />
        </g>
      </svg>
    </div>
  </div>
  <div class="service-basket" (click)="showBasketMobile()">
    <div class="basket-icon">
      <svg
        id="Group_10958"
        data-name="Group 10958"
        xmlns="http://www.w3.org/2000/svg"
        width="32.725"
        height="31.595"
        viewBox="0 0 32.725 31.595"
      >
        <path
          id="shopping-cart_6_"
          data-name="shopping-cart(6)"
          d="M29.46,27.091H5.395l-.358-4.463a1.33,1.33,0,0,0-1.259-1.289H-.736A1.346,1.346,0,0,0-2,22.754,1.346,1.346,0,0,0-.736,24.169H2.622C3.394,33.8,1.4,8.906,4.076,42.31A5.65,5.65,0,0,0,5.9,46c-1.959,2.8-.169,6.933,3.018,6.933,2.645,0,4.511-2.955,3.6-5.753h6.918c-.906,2.795.956,5.753,3.6,5.753a4.32,4.32,0,0,0,0-8.584H8.923a2.358,2.358,0,0,1-2.158-1.594l20.2-1.33a1.311,1.311,0,0,0,1.152-1.07L30.686,28.85A1.388,1.388,0,0,0,29.46,27.091ZM8.914,50.1a1.47,1.47,0,0,1,0-2.921,1.47,1.47,0,0,1,0,2.921Zm14.125,0a1.47,1.47,0,1,1,1.3-1.461A1.391,1.391,0,0,1,23.039,50.1ZM25.89,38.66,6.424,39.941l-.8-10.019h22.22Z"
          transform="translate(2 -21.338)"
          fill="#fff"
        />
      </svg>
    </div>
    <div class="basket-number">
      <span >{{number}}</span>
    </div>
  </div>
</div>
