@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.box-fix-down {
  display: flex;
  width: 100%;
  height: 9.8rem;
  background-color: white;
  box-shadow: 0px -2px 3px #00000029;
  position: fixed;
  bottom: 0;
  padding: 1.2rem 0;
  z-index: 2;
  .service-name {
    display: flex;
    justify-content: space-between;
    width: 75%;
    border-right: 0.1rem solid #00000029;
    padding: 2rem 3rem;
    .detail {
      p:first-child {
        font-size: 1.6rem;
      }
      p:last-child {
        font-size: 1.6rem;
        color: #989696;
        line-height: 3rem;
      }
    }
    .icon {
      cursor: pointer;
      &.active {
        transform: rotate(180deg);
        line-height: 3;
      }
    }
  }
  .service-basket {
    width: 25%;
    // background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    .basket-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6.5rem;
      height: 6.5rem;
      background-color: #d85a5a;
      border-radius: 100%;
      position: absolute;
    }
    .basket-number {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      background-color: black;
      color: white;
      position: relative;
      border-radius: 100%;
      top: -20px;
      left: 23px;
    }
  }
}
