.title {
  display: flex;
  height: 5rem;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}

.add-promotional {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  border: 1px solid #e7ebeb;
  height: 8rem;
  width: 100%;
  padding: 0 2rem;
  cursor: pointer;
  .icon {
    display: flex;
    margin-right: 2rem;
    svg {
      display: block;
      width: 38px;
    }
  }
  .des {
    height: 8rem;
    display: flex;
    flex-direction: column;
    span {
      display: flex;
      align-items: center;
      height: 4rem;
      font-size: 1.3rem;
      color: #a0a3a3;
    }
    .add-mehtod {
      height: 8rem;
    }
  }
}
