<div class="wrapper">
  <ng-container *ngIf="category$ | async as category">
    <div class="category-products">
      <app-product
        *ngFor="let product of category.products"
        [product]="product"
        [isHandset]="isHandset"
      ></app-product>
    </div>
    <ng-container *ngFor="let subCategory of category.categories">
      <div class="category-title">{{ subCategory.title }}</div>
      <!-- <ng-container *ngIf="subCategory.products.length else noSubCat"> -->
      <div class="category-products">
        <app-product
          *ngFor="let pro of subCategory.products"
          [product]="pro"
          [isHandset]="isHandset"
        ></app-product>
      </div>
    </ng-container>
  </ng-container>
</div>
