@import 'src/styles/breakpoints';
@import 'src/styles/colors';

:host {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 62rem;
  margin: 0 auto 3rem;
  @include media('<=tablet') {
    min-width: auto;
    width: auto;
    align-items: center;
    justify-content: center;
  }
  .category-title {
    display: flex;
    align-items: center;
    height: 5rem;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
    @include media('<=phone') {
      align-items: flex-end;
      width: 100%;
      padding: 0 2.3rem;
      margin-bottom: 0;
      margin-top: 3rem;
    }
  }
  .category-products {
    display: flex;
    flex-wrap: wrap;
    @include media('<=tablet') {
      align-items: center;
      justify-content: center;
      @include media('<=phone') {
        width: 100%;
      }
    }
  }
  .show-alert-products {
    font-weight: bold;
    font-size: 2rem;
    color: getColor($baseColors, 'primary');
  }
}
