.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  .header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    // background-color: coral;
    background-image: url('../../../assets/images/restaurant.jpeg');
    background-size: cover;
    background-position-y: unset;
  }
}
