@import 'src/styles/breakpoints';
@import 'src/styles/colors';

:host {
  @include media('<=phone') {
    width: 100%;
  }
}

.product {
  display: flex;
  box-shadow: 0px 7px 20px #00000029;
  padding: 2rem;
  margin: 0 2rem 2rem 0;
  min-height: 14rem;
  max-height: 14rem;
  position: relative;
  cursor: pointer;
  @include media('<=tablet') {
    margin: 1rem;
  }
  @include media('<=phone') {
    width: 100%;
    justify-content: space-between;
    margin: 0;
    box-shadow: 0 0 0;
    padding: 2rem 2.3rem;
    border-bottom: 0.4rem solid getColor($activatedColor, 'gray');
  }
  .bar {
    position: absolute;
    height: 14rem;
    left: 0;
    top: 0;
    width: 5px;
    background-color: getColor($baseColors, 'primary');
    @include media('<=phone') {
      height: 9.6rem;
      top: 2.6rem;
      width: 1.2rem;
    }
  }
  .product__details {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-right: 0.5rem;
    .product__details--title {
      display: flex;
      align-items: center;
      height: 3rem;
      .qty {
        color: #818585;
        font-size: 1.4rem;
        margin-right: 0.5rem;
      }
      .title {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
    .product__details--description {
      display: flex;
      color: #818585;
      font-size: 1.2rem;
      line-height: 2rem;
    }
    .product__details--price {
      align-items: center;
      display: flex;
      color: #818585;
      font-size: 1.4rem;
      line-height: 1.75rem;
      height: 3rem;
      justify-content: space-between;
      .vegen-spicy {
        display: flex;
        .br {
          width: .1rem;
          background-color: #CCC9C9;
          margin: 0 1rem;
        }
      }
    }
  }
  .product__image {
    img {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
    }
  }
}
