@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.map {
  position: relative;
  margin-top: 35rem;
  @include media('<=tablet') {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }
  .contact {
    position: absolute;
    top: -30rem;
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    z-index: 5;

    @include media('<=tablet') {
      position: initial;
      padding: 2rem;
      margin-left: 0rem;
      width: 40rem;
      margin: 0 auto;
    }
    @include media('<=phone') {
      width: 100%;
    }
    h1 {
      font-weight: bold;
      font-size: 4rem;
      line-height: 5rem;
      margin-bottom: 1rem;
      @include media('<=LGdesktop') {
        font-size: 3.6rem;
      }
      @include media('<=desktop') {
        font-size: 3rem;
      }
    }
    .hr {
      height: 0.7rem;
      width: 10rem;
      background-color: getColor($baseColors, 'primary');
      margin-bottom: 3rem;
      border-radius: 4rem;
    }
    .contact__form {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: getColor($baseColors, 'primary');
      border-radius: 2rem;
      width: 35rem;
      padding: 3rem;
      @include media('<=tablet') {
        width: 100%;
        padding: 3rem 2rem;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        textarea,
        .input {
          border: 0;
          width: 25rem;
          height: 3.5rem;
          background-color: #fff;
          margin-bottom: 2rem;
          padding: 0 2rem;
          &::placeholder {
            color: #000;
            font-size: 1.4rem;
          }
        }
        textarea {
          height: 10rem;
          padding: 1rem 2rem;
        }
        .form-group {
          display: flex;
          input[type='checkbox'] {
            width: auto;
            opacity: 0.00000001;
            position: absolute;
            left: 0;
            margin-left: -20px;
          }
          label {
            display: flex;
            align-items: center;
            color: #fff;
            font-weight: 400;
            font-size: 1.2rem;
            position: relative;
          }
          label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 4px;
            width: 22px;
            height: 22px;
            transition: transform 0.28s ease;
            border-radius: 3px;
            border: 2px solid #fff;
          }
          label:after {
            content: '';
            display: block;
            width: 10px;
            height: 5px;
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
            -webkit-transform: rotate(-45deg) scale(0);
            transform: rotate(-45deg) scale(0);
            transition: transform ease 0.25s;
            will-change: transform;
            position: absolute;
            top: 12px;
            left: 10px;
          }
          input[type='checkbox']:checked ~ label::before {
            color: #fff;
          }
          input[type='checkbox']:checked ~ label::after {
            -webkit-transform: rotate(-45deg) scale(1);
            transform: rotate(-45deg) scale(1);
          }
          label {
            min-height: 34px;
            padding-left: 40px;
            margin-bottom: 0;
            cursor: pointer;
            vertical-align: sub;
          }
          input[type='checkbox']:focus + label::before {
            outline: 0;
          }
        }
        .btn {
          width: 15rem;
          height: 4rem;
          background-color: #fff;
          border: 0;
          border-radius: 0.6rem;
          margin-top: 2rem;
          font-size: 1.4rem;
          font-weight: 600;
          color: getColor($baseTextColors, 'accent');
        }
      }
    }
  }
}
.shop {
  display: flex;
  padding: 1rem;
  .shop__image {
    display: flex;
    img {
      display: block;
      width: 10rem;
      height: 10rem;
      object-fit: cover;
    }
  }
  .shop__details {
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding-left: 2rem;
    .shop__details--title {
      display: flex;
      font-size: 1.6rem;
      font-weight: bold;
      height: 3rem;
    }
    .shop__details--context {
      display: flex;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}
