<div class="map">
  <div class="contact">
    <h1>Contact us</h1>
    <div class="hr"></div>
    <div class="contact__form">
      <form>
        <input class="input" type="text" placeholder="Full Name" />
        <input class="input" type="text" placeholder="Phone No." />
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Massage"
        ></textarea>
        <div class="form-group">
          <input type="checkbox" checked name="" id="agree" />
          <label for="agree">I agree with all conditions</label>
        </div>
        <button class="btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <google-map
    #googleMap
    height="400px"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    [options]="options"
    (mapMousemove)="move($event)"
    (mapRightclick)="removeLastMarker()"
  >
    <map-marker
      #marker="mapMarker"
      *ngFor="let markerPosition of markerPositions"
      [position]="markerPosition"
      [options]="markerOptions"
      (mapClick)="openInfoWindow(marker)"
    ></map-marker>
    <map-circle
      [center]="center"
      [radius]="radius"
      [options]="circleOptions"
    ></map-circle>
    <map-info-window>
      <div class="shop">
        <div class="shop__image">
          <img src="assets/images/soup.png" alt="soup" />
        </div>
        <div class="shop__details">
          <div class="shop__details--title">Restaurant</div>
          <div class="shop__details--context">
            Suite B, Unit 4, Gordon Rd Brighton BN41 1HU Telephone: 01273 725577
            E-mail: sales@selected.org
          </div>
        </div>
      </div>
    </map-info-window>
  </google-map>
</div>
