<div class="container">
  <div class="slide-menu" [ngClass]="{ active: isMenuOpen }">
    <div class="header">Restaurant</div>
    <div class="body">
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16.002"
          height="14"
          viewBox="0 0 16.002 14"
        >
          <g transform="translate(0.066 -32)">
            <path
              fill="#949697"
              d="M7.936,32c-4.419,0-8,2.909-8,6.5a5.745,5.745,0,0,0,1.653,3.947,7.93,7.93,0,0,1-1.45,2.287A.75.75,0,0,0,.686,46a7.582,7.582,0,0,0,4.347-1.447,9.651,9.651,0,0,0,2.9.447c4.419,0,8-2.909,8-6.5S12.354,32,7.936,32Zm0,11.5a8.12,8.12,0,0,1-2.45-.378L4.776,42.9l-.609.431a6.72,6.72,0,0,1-1.8.906,7.838,7.838,0,0,0,.622-1.256l.331-.878-.644-.681A4.3,4.3,0,0,1,1.436,38.5c0-2.756,2.916-5,6.5-5s6.5,2.244,6.5,5S11.52,43.5,7.936,43.5Z"
              transform="translate(0)"
            />
          </g>
        </svg>
        <span>Home</span>
      </a>
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16.002"
          height="14"
          viewBox="0 0 16.002 14"
        >
          <g transform="translate(0.066 -32)">
            <path
              fill="#949697"
              d="M7.936,32c-4.419,0-8,2.909-8,6.5a5.745,5.745,0,0,0,1.653,3.947,7.93,7.93,0,0,1-1.45,2.287A.75.75,0,0,0,.686,46a7.582,7.582,0,0,0,4.347-1.447,9.651,9.651,0,0,0,2.9.447c4.419,0,8-2.909,8-6.5S12.354,32,7.936,32Zm0,11.5a8.12,8.12,0,0,1-2.45-.378L4.776,42.9l-.609.431a6.72,6.72,0,0,1-1.8.906,7.838,7.838,0,0,0,.622-1.256l.331-.878-.644-.681A4.3,4.3,0,0,1,1.436,38.5c0-2.756,2.916-5,6.5-5s6.5,2.244,6.5,5S11.52,43.5,7.936,43.5Z"
              transform="translate(0)"
            />
          </g>
        </svg>
        <span>Order Now</span>
      </a>
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16.002"
          height="14"
          viewBox="0 0 16.002 14"
        >
          <g transform="translate(0.066 -32)">
            <path
              fill="#949697"
              d="M7.936,32c-4.419,0-8,2.909-8,6.5a5.745,5.745,0,0,0,1.653,3.947,7.93,7.93,0,0,1-1.45,2.287A.75.75,0,0,0,.686,46a7.582,7.582,0,0,0,4.347-1.447,9.651,9.651,0,0,0,2.9.447c4.419,0,8-2.909,8-6.5S12.354,32,7.936,32Zm0,11.5a8.12,8.12,0,0,1-2.45-.378L4.776,42.9l-.609.431a6.72,6.72,0,0,1-1.8.906,7.838,7.838,0,0,0,.622-1.256l.331-.878-.644-.681A4.3,4.3,0,0,1,1.436,38.5c0-2.756,2.916-5,6.5-5s6.5,2.244,6.5,5S11.52,43.5,7.936,43.5Z"
              transform="translate(0)"
            />
          </g>
        </svg>
        <span>Reviews</span>
      </a>
      <a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16.002"
          height="14"
          viewBox="0 0 16.002 14"
        >
          <g transform="translate(0.066 -32)">
            <path
              fill="#949697"
              d="M7.936,32c-4.419,0-8,2.909-8,6.5a5.745,5.745,0,0,0,1.653,3.947,7.93,7.93,0,0,1-1.45,2.287A.75.75,0,0,0,.686,46a7.582,7.582,0,0,0,4.347-1.447,9.651,9.651,0,0,0,2.9.447c4.419,0,8-2.909,8-6.5S12.354,32,7.936,32Zm0,11.5a8.12,8.12,0,0,1-2.45-.378L4.776,42.9l-.609.431a6.72,6.72,0,0,1-1.8.906,7.838,7.838,0,0,0,.622-1.256l.331-.878-.644-.681A4.3,4.3,0,0,1,1.436,38.5c0-2.756,2.916-5,6.5-5s6.5,2.244,6.5,5S11.52,43.5,7.936,43.5Z"
              transform="translate(0)"
            />
          </g>
        </svg>
        <span>Log In / Register</span>
      </a>
    </div>
    <div class="footer">
      <div class="footer__links">
        <div class="footer__links--row">
          <a>About us</a>
          <a>About us</a>
        </div>
        <div class="footer__links--row">
          <a>About us</a>
          <a>About us</a>
        </div>
        <div class="footer__links--row">
          <a>About us</a>
          <a>About us</a>
        </div>
        <div class="footer__links--row">
          <a>About us</a>
          <a>About us</a>
        </div>
      </div>
      <div class="footer__socials">
        <a class="icon">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.19795 21.5H13.198V13.4901H16.8021L17.198 9.50977H13.198V7.5C13.198 6.94772 13.6457 6.5 14.198 6.5H17.198V2.5H14.198C11.4365 2.5 9.19795 4.73858 9.19795 7.5V9.50977H7.19795L6.80206 13.4901H9.19795V21.5Z"
              fill="currentColor"
            />
          </svg>
        </a>
        <a class="icon">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8 3C9.10457 3 10 3.89543 10 5V8H16C17.1046 8 18 8.89543 18 10C18 11.1046 17.1046 12 16 12H10V14C10 15.6569 11.3431 17 13 17H16C17.1046 17 18 17.8954 18 19C18 20.1046 17.1046 21 16 21H13C9.13401 21 6 17.866 6 14V5C6 3.89543 6.89543 3 8 3Z"
              fill="currentColor"
            />
          </svg>
        </a>
        <a class="icon">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 12C6 15.3137 8.68629 18 12 18C14.6124 18 16.8349 16.3304 17.6586 14H12V10H21.8047V14H21.8C20.8734 18.5645 16.8379 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C15.445 2 18.4831 3.742 20.2815 6.39318L17.0039 8.68815C15.9296 7.06812 14.0895 6 12 6C8.68629 6 6 8.68629 6 12Z"
              fill="currentColor"
            />
          </svg>
        </a>
        <a class="icon">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7ZM9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12Z"
              fill="currentColor"
            />
            <path
              d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z"
              fill="currentColor"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5 1C2.79086 1 1 2.79086 1 5V19C1 21.2091 2.79086 23 5 23H19C21.2091 23 23 21.2091 23 19V5C23 2.79086 21.2091 1 19 1H5ZM19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z"
              fill="currentColor"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="menu" (click)="changeMenu()">
    <span class="a"></span>
    <span class="b"></span>
    <span class="c"></span>
  </div>
  <div class="logo" [routerLink]="['/', 'selected']">Restaurant</div>
  <nav class="nav">
    <a
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <!-- <a [routerLink]="['/order-now']" routerLinkActive="active">Order Now</a> -->
    <a [routerLink]="['/reviews']" routerLinkActive="active">Reviews</a>
    <a [routerLink]="['/contact-us']" routerLinkActive="active">Contact us</a>
  </nav>
  <div class="basket">
    <div class="auth">
      <ng-container *ngIf="(authFacade.isAuthenticated$ | async) === false">
        <a [routerLink]="['/auth']" routerLinkActive="active"
          >Register / Login</a
        >
      </ng-container>
      <ng-container *ngIf="authFacade.profile$ | async as profile">
        <a (click)="logout()" class="logout">Logout</a>
        <div class="br"></div>
        <a [routerLink]="['/profile']" routerLinkActive="active">{{
          profile.fullName || 'Welcome'
        }}</a>
      </ng-container>
    </div>
    <div class="total-items">{{ totalItem$ | async }}</div>
    <div class="total-price">
      {{ total$ | async | currency }}
    </div>
    <div class="icon" [routerLink]="['/order-now']">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M5.79166 2H1V4H4.2184L6.9872 16.6776H7V17H20V16.7519L22.1932 7.09095L22.5308 6H6.6552L6.08485 3.38852L5.79166 2ZM19.9869 8H7.092L8.62081 15H18.3978L19.9869 8Z"
          fill="#fff"
        />
        <path
          d="M10 22C11.1046 22 12 21.1046 12 20C12 18.8954 11.1046 18 10 18C8.89543 18 8 18.8954 8 20C8 21.1046 8.89543 22 10 22Z"
          fill="#fff"
        />
        <path
          d="M19 20C19 21.1046 18.1046 22 17 22C15.8954 22 15 21.1046 15 20C15 18.8954 15.8954 18 17 18C18.1046 18 19 18.8954 19 20Z"
          fill="#fff"
        />
      </svg>
    </div>
  </div>
  <div class="user">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="8.882"
      height="8.882"
      viewBox="0 0 8.882 8.882"
    >
      <path
        fill="#fff"
        d="M4.441,5a2.5,2.5,0,1,0-2.5-2.5A2.5,2.5,0,0,0,4.441,5Zm2.22.555H5.706a3.02,3.02,0,0,1-2.529,0H2.22A2.22,2.22,0,0,0,0,7.772v.278a.833.833,0,0,0,.833.833H8.049a.833.833,0,0,0,.833-.833V7.772A2.22,2.22,0,0,0,6.661,5.551Z"
      />
    </svg>
  </div>
</div>
