@import 'src/styles/variables';
@import 'src/styles/breakpoints';
@import 'src/styles/colors';
@import 'src/styles/ease';

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: $navbarHeight;
  padding: 0 3.6rem;
  position: relative;
  @include media('<=desktop') {
    background-color: getColor($baseColors, 'primary');
    justify-content: space-between;
  }
  @include media('<=phone') {
    padding: 0 2rem;
  }
  .slide-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30rem;
    transform: translateX(-100%);
    background: #ffffff;
    z-index: 9999;
    transition: all 0.4s $easeOutExpo;
    will-change: transform;
    &.active {
      box-shadow: 0px 0px 60px #00000099;
      transform: translateX(0);
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 6rem;
      font-weight: bold;
      font-size: 2rem;
      color: #000;
    }
    .body {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      height: calc(50vh - 6rem);
      a {
        display: flex;
        align-items: center;
        margin: 1.5rem 0;
        font-size: 1.4rem;
        svg {
          display: block;
          margin-right: 2rem;
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: column;
      height: 50vh;
      background-color: getColor($baseColors, 'primary');
      padding: 2rem 3.6rem;
      .footer__links {
        display: flex;
        flex-direction: column;
        .footer__links--row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 4rem;
          color: #fff;
          opacity: 0.5;
          font-weight: 500;
          font-size: 1.4rem;
        }
      }
      .footer__socials {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
        margin-top: auto;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: #fff;
          width: 4rem;
          height: 4rem;
          svg {
            display: block;
            path {
              fill: getColor($baseColors, 'primary');
            }
          }
        }
      }
    }
  }
  .menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    @include media('<=desktop') {
      display: flex;
    }
    span {
      height: 4px;
      width: 4rem;
      background-color: #fff;
      margin: 0.3rem 0;
      transition: all 0.2s linear;
      &.b {
        transform: translateX(-50%);
      }
    }
    &:hover .b {
      transform: translateX(0);
    }
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $logoWidth;
    height: 100%;
    font-size: 3rem;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    @include media('<=desktop') {
      width: auto;
      color: #fff;
    }
    @include media('<=phone') {
      font-size: 2rem;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    @include media('<=desktop') {
      display: none;
    }
    a {
      margin: 0 1.5rem;
      // color: #887676;
      color: lighten($color: #000000, $amount: 60%);
      font-size: 1.6rem;
      transition: all 0.2s linear;
      font-weight: 500;
      outline: 0;
      &:hover {
        color: #000;
      }
      &.active {
        color: #000;
      }
    }
  }
  .basket {
    display: flex;
    align-items: center;
    margin-left: auto;
    @include media('<=desktop') {
      margin-left: 0;
      display: none;
    }
    .auth {
      margin-right: 2rem;
      display: flex;
      .br {
        background-color: lighten($color: #000000, $amount: 60%);
        width: 2px;
        height: 13px;
        margin: 0 7px;
      }
      a {
        font-weight: bold;
        font-size: 1.4rem;
        color: lighten($color: #000000, $amount: 60%);
        transition: all 0.2s linear;
        outline: 0;
        text-transform: capitalize;
        &:hover {
          color: #000;
        }
        &.active {
          color: #000;
        }
      }
      .bar {
        color: lighten($color: #000000, $amount: 60%);
        margin: 0 1rem;
      }
      
    }
    .total-items {
      display: flex;
      background: #000;
      color: #fff;
      font-weight: bold;
      font-size: 1.6rem;
      padding: 0.5rem 1rem;
      border-radius: 4px;
    }
    .total-price {
      display: flex;
      padding: 0 1rem;
      color: #000;
      font-weight: bold;
      font-size: 1.6rem;
    }
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      width: 4rem;
      background: #000;
      border-radius: 6px;
      border-bottom-right-radius: 4rem;
      cursor: pointer;
    }
  }
  .user {
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    @include media('<=desktop') {
      display: flex;
    }
    svg {
      display: block;
      width: 2rem;
      height: 2rem;
    }
  }
}
