<div class="container-fluid">
  <div class="details">
    <p class="address">{{ infoPostalCode }}</p>
    <div class="tel">
      <div class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 20.522 20.521"
        >
          <g id="phone-ringing" transform="translate(0.25 0.25)">
            <path
              id="Path_4093"
              data-name="Path 4093"
              d="M14.389,20.021a5.578,5.578,0,0,1-1.914-.342,20.407,20.407,0,0,1-7.41-4.723A20.405,20.405,0,0,1,.342,7.546,5.538,5.538,0,0,1,.06,4.824,5.679,5.679,0,0,1,2.978.667,5.575,5.575,0,0,1,5.648,0a.626.626,0,0,1,.612.495l.982,4.583a.626.626,0,0,1-.169.574L5.394,7.329a16.468,16.468,0,0,0,7.3,7.3l1.678-1.678a.626.626,0,0,1,.574-.169l4.583.982a.626.626,0,0,1,.495.612,5.575,5.575,0,0,1-.667,2.669A5.679,5.679,0,0,1,15.2,19.962a5.565,5.565,0,0,1-.808.059ZM5.148,1.279a4.384,4.384,0,0,0-3.629,5.84A18.976,18.976,0,0,0,12.9,18.5a4.384,4.384,0,0,0,5.84-3.629l-3.728-.8-1.752,1.752a.626.626,0,0,1-.708.124A17.715,17.715,0,0,1,4.07,7.467a.626.626,0,0,1,.124-.708L5.947,5.007Z"
              transform="translate(0 0)"
              fill="#939393"
              stroke="#fff"
              stroke-width="0.5"
            />
            <path
              id="Path_4094"
              data-name="Path 4094"
              d="M250.03,10.636a.626.626,0,0,1-.626-.626,8.769,8.769,0,0,0-8.759-8.759.626.626,0,0,1,0-1.251,10.01,10.01,0,0,1,10.01,10.01A.626.626,0,0,1,250.03,10.636Z"
              transform="translate(-230.634)"
              fill="#939393"
              stroke="#fff"
              stroke-width="0.5"
            />
            <path
              id="Path_4095"
              data-name="Path 4095"
              d="M247.528,72.133a.626.626,0,0,1-.626-.626,6.263,6.263,0,0,0-6.256-6.256.626.626,0,0,1,0-1.251,7.516,7.516,0,0,1,7.508,7.508A.626.626,0,0,1,247.528,72.133Z"
              transform="translate(-230.634 -61.497)"
              fill="#939393"
              stroke="#fff"
              stroke-width="0.5"
            />
            <path
              id="Path_4096"
              data-name="Path 4096"
              d="M245.025,133.631a.626.626,0,0,1-.626-.626,3.758,3.758,0,0,0-3.754-3.754.626.626,0,0,1,0-1.251,5.011,5.011,0,0,1,5.005,5.005A.626.626,0,0,1,245.025,133.631Z"
              transform="translate(-230.634 -122.995)"
              fill="#939393"
              stroke="#fff"
              stroke-width="0.5"
            />
          </g>
        </svg>
      </div>
      <span>{{ infoPhone }}</span>
    </div>
  </div>

  <app-map-info
    [center]="_center"
    [markerPositions]="_markerPositions"
  ></app-map-info>

  <div class="hr"></div>
  <div class="store-hours">
    <p class="title">Store Opening Hours</p>
    <ng-container *ngIf="activeShop?.workTimes">
      <div class="hours-item">
        <ul
          *ngFor="let day of activeShop?.workTimes | duplicateDays | keyvalue"
          [ngClass]="{ bg_color: (day.key | capitalize) == today }"
        >
          <li>{{ day.key | capitalize }}</li>
          <li class="timeOfDays">
            <ng-container *ngFor="let item of day.value">
              <span
                >{{ item.open | date: 'hh:mm' }} -
                {{ item.close | date: 'hh:mm' }}</span
              >
            </ng-container>
          </li>
        </ul>
      </div>
    </ng-container>
    <ul class="time">
      <li>Delivery Time</li>
      <li>Collection Time</li>
    </ul>
    <div class="box-item"></div>
  </div>
  <!-- <div class="hr"></div>
  <div class="about-us">
    <p class="title">A little bit about us</p>
    <p>Breakfast is the most important meal of the day.</p>
    <p>Scotties Burger can set you up with appetising,</p>
    <p>nutritious food delivered right to your door,</p>
    <p>it couldn't be easier to start off right.</p>
    <p>After you have eaten</p>
  </div> -->
</div>
