@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.container-fluid {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 3rem 20rem 3rem;
  flex-direction: column;
  .details {
    font-size: 1.7rem;
    font-weight: 300;
    .address {
      margin: 0.5rem 0;
      font-size: 1.4rem;
      padding-top: 2rem;
    }
    .tel {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0.5rem 0;
      span {
        margin-left: 1rem;
        font-size: 1.4rem;
      }
    }
  }
  .hr {
    width: 100%;
    height: 0.2rem;
    background-color: getColor($activatedColor, 'hr');
    margin: 2rem 0;
  }
  .store-hours {
    .title {
      font-size: 2.8rem;
      font-weight: 400;
    }
    .hours-item {
      margin: 1.5rem 0;
      flex-direction: column;
      ul {
        display: flex;
        padding: 1.7rem 3rem;
        justify-content: space-between;
        .timeOfDays {
          display: flex;
          flex-direction: column;
          line-height: 20px;
        }
      }
      .bg_color {
        background-color: getColor($activatedColor, 'gray');
        border-radius: 1rem;
        font-weight: bold;
      }
    }
    .time {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 1.7rem;
      li {
        border: 0.2rem solid getColor($activatedColor, 'hr');
        border-radius: 0.7rem;
        padding: 1.8rem 1.5rem;
        font-size: 3.5vw;
      }
    }
  }
  .about-us {
    .title {
      font-size: 2rem;
      font-weight: 500;
      font-family: 'Roboto';
      margin: 0.7rem 0;
      color: black;
    }
    p {
      color: getColor($activatedColor, 'hr');
      padding: 0.2rem 0;
    }
  }
}
