<div class="quality">
  <div class="quality__img">
    <img src="assets/images/pizza.jpg" alt="soup" />
  </div>
  <div class="quality__find">
    <h1>OUR FOOD</h1>
    <div class="hr"></div>
    <div class="options">
      <div class="row">
        <div class="icon">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
              fill="#fff"
            />
          </svg>
        </div>
        <div class="option">
          <div class="title">Signature Pizzas</div>
          <div class="context">
            Choose one of our plans, enter delivery time.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="icon">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
              fill="#fff"
            />
          </svg>
        </div>
        <div class="option">
          <div class="title">Oven-Baked Subs</div>
          <div class="context">
            Choose one of our plans, enter delivery time and enjoy delicious
            food without leaving your home!
          </div>
        </div>
      </div>
      <div class="row">
        <div class="icon">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
              fill="#fff"
            />
          </svg>
        </div>
        <div class="option">
          <div class="title">Wings, Sides & More</div>
          <div class="context">
            Choose one of our plans, enter delivery time.
          </div>
        </div>
      </div>
    </div>
    <div class="btns">
      <button class="btn active">Delivery</button>
      <button class="btn">Collection</button>
    </div>
  </div>
</div>
