@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.quality {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include media('<=tablet') {
    margin-top: 5rem;
    flex-direction: column-reverse;
  }
  .quality__find {
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
    h1 {
      font-weight: bold;
      font-size: 4rem;
      line-height: 5rem;
      margin-bottom: 1rem;
      @include media('<=LGdesktop') {
        font-size: 3.6rem;
      }
      @include media('<=desktop') {
        font-size: 3rem;
      }
    }
    .hr {
      height: 0.7rem;
      width: 15rem;
      background-color: getColor($baseColors, 'primary');
      margin-bottom: 3rem;
      border-radius: 4rem;
    }
    .options {
      color: getColor($baseTextColors, 'accent');
      color: #9e7474;
      line-height: 3rem;
      font-size: 1.6rem;
      margin-bottom: 5rem;
      .row {
        display: flex;
        margin-bottom: 1.5rem;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: getColor($baseColors, 'primary');
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
          cursor: pointer;
        }
        .option {
          display: flex;
          flex-direction: column;
          padding-left: 2rem;
          width: calc(100% - 4rem);
          .title {
            display: flex;
            color: #000;
            font-weight: 500;
            font-size: 1.6rem;
          }
          .context {
            display: flex;
            font-size: 1.2rem;
            color: #242424;
            opacity: 0.6;
            line-height: 2rem;
          }
        }
      }
    }
    .btns {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 3rem;
      .btn {
        width: 15rem;
        height: 5rem;
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        color: getColor($baseColors, 'primary');
        background: #ffffff;
        box-shadow: 2px 2px 6px #00000043;
        border: 0;
        border-radius: 4rem;
        transition: all 0.2s linear;
        margin: 0 1rem;
        &.active {
          background-color: getColor($baseColors, 'primary');
          color: #fff;
        }
        @include media('<=phone') {
          width: 12rem;
        }
      }
    }
  }
  .quality__img {
    display: flex;
    img {
      width: 100rem;
      object-fit: cover;
      border-top-right-radius: 10rem;
      border-bottom-right-radius: 10rem;
      @include media('<=LGdesktop') {
        width: 65rem;
      }
      @include media('<=1100px') {
        width: 55rem;
      }
      @include media('<=desktop') {
        width: 50rem;
      }
      @include media('<=950px') {
        width: 45rem;
      }
      @include media('<=875px') {
        width: 40rem;
      }
      @include media('<=800px') {
        width: 35rem;
      }
      @include media('<=tablet') {
        width: 100%;
      }
    }
  }
}
