<div class="title">Sign Up</div>
<form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <div class="form-group">
    <div class="form-control half">
      <label>First Name</label>
      <input type="text" formControlName="firstName" />
    </div>
    <div class="form-control half">
      <label>Last Name</label>
      <input type="text" formControlName="lastName" />
    </div>
  </div>
  <div class="form-group">
    <div class="form-control">
      <label>Email Address</label>
      <input type="text" placeholder="You@gmail.com" formControlName="email" />
    </div>
  </div>
  <div class="form-group">
    <div class="form-control">
      <label>Password</label>
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </div>
  </div>
  <div class="box-auth">
    <button class="btn">Register</button>
    <!-- <button (click)="OAuthGoogle()" class="btnGoogle"><img src="assets/images/btn_google_signin_light_normal_web@2x.png" alt="Sign in with Google"></button> -->
  
    <div id="gSignInWrapper" (click)="OAuthGoogle()">
      <div id="customBtn" class="customGPlusSignIn">
        <span class="icon"></span>
        <span class="buttonText">Sign up with Google</span>
      </div>
    </div>
  </div>

  <p>
    Already have an account ? &nbsp;<a [routerLink]="['/auth/login']">Log in</a>
  </p>
  <div class="erro" *ngIf="authFacade.error$ | async">
    {{ authFacade.error$ | async }}
  </div>
  <!-- <div class="success">Email Exists</div> -->
</form>
