@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.container {
  display: flex;
  padding: 3.6rem;
  position: relative;
  .header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    // background-color: coral;
    background-image: url('../../../assets/images/restaurant.jpeg');
    background-size: cover;
    background-position-y: unset;
  }
}
