@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
  @include media('<=tablet') {
    flex-direction: column;
  }
  .container__find {
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
    border-left: 10px solid getColor($baseColors, 'primary');
    @include media('<=875px') {
      padding-left: 1.5rem;
    }
    h1 {
      font-weight: bold;
      font-size: 4rem;
      line-height: 5rem;
      margin-bottom: 2rem;
      @include media('<=LGdesktop') {
        font-size: 3.6rem;
      }
      @include media('<=desktop') {
        font-size: 3rem;
      }
    }
    .context {
      color: getColor($baseTextColors, 'accent');
      color: #9e7474;
      line-height: 3rem;
      font-size: 1.6rem;
      margin-bottom: 5rem;
    }
    .btns {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 3rem;
      .btn {
        width: 15rem;
        height: 5rem;
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        color: getColor($baseColors, 'primary');
        background: #ffffff;
        box-shadow: 2px 2px 6px #00000043;
        border: 0;
        border-radius: 4rem;
        transition: all 0.2s linear;
        margin: 0 1rem;
        &.active {
          background-color: getColor($baseColors, 'primary');
          color: #fff;
        }
        @include media('<=phone') {
          width: 12rem;
        }
      }
    }
    .postcode {
      display: flex;
      width: 32rem;
      height: 5rem;
      box-shadow: -2px 3px 8px #00000043;
      border-radius: 4rem;
      margin: 0 auto;
      position: relative;
      @include media('<=phone') {
        width: 26rem;
      }
      input {
        border-radius: 4rem;
        border: 0;
        height: 5rem;
        width: 100%;
        font-size: 1.4rem;
        padding-left: 2rem;
        padding-right: 16rem;
        font-weight: 500;
        &::placeholder {
          color: getColor($baseTextColors, 'accent');
          font-size: 1.4rem;
        }
      }
      button {
        width: 15rem;
        height: 5rem;
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        background-color: getColor($baseColors, 'primary');
        color: #fff;
        border: 0;
        border-radius: 4rem;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 0.2s linear;
        @include media('<=phone') {
          width: 12rem;
        }
      }
    }
    .text-danger{
      display: flex;
      justify-content: center;
      color: getColor($baseTextColors, 'danger');
      line-height: 3rem;
      font-size: 1.6rem;
      margin-bottom: 5rem;
    }
  }
  .container__img {
    display: flex;
    img {
      width: 100rem;
      object-fit: cover;
      @include media('<=LGdesktop') {
        width: 65rem;
      }
      @include media('<=1100px') {
        width: 55rem;
      }
      @include media('<=desktop') {
        width: 50rem;
      }
      @include media('<=950px') {
        width: 45rem;
      }
      @include media('<=875px') {
        width: 40rem;
      }
      @include media('<=800px') {
        width: 35rem;
      }
      @include media('<=tablet') {
        margin-top: 5rem;
        width: 100%;
      }
    }
  }
}
