<div class="container">
  <div class="container__find">
    <h1>Spice your Moods</h1>
    <div class="context">
      Molestie ac feugiat sed lectus. Cursus sit amet dictum sit amet. Egestas
      diam in arcu cursus euismod quis viverra. Eget gravida cum sociis natoque
      penatibus et magnis.
    </div>
    <div class="btns">
      <button
        type="button"
        class="btn"
        [ngClass]="{ active: active === 'Delivery' }"
        (click)="changeMode('Delivery')"
      >
        Delivery
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{ active: active === 'Collection' }"
        (click)="changeMode('Collection')"
      >
        Collection
      </button>
    </div>
    <div class="postcode">
      <input type="text" placeholder="Enter Postcode" #postCode />
      <button
        class="btn"
        type="button"
        (click)="searchShops()"
        [disabled]="isLoading$ | async"
      >
        Search
      </button>
    </div>
    <!-- <ng-container *ngFor="let _res of postalCode$ | async"> -->
    <!-- <ng-container *ngIf="_res != null"> -->
    <!-- <p class="text-danger" *ngIf="_res['shop']['shopData']['hydra:totalItems'] == 0 ? !noRestaurant : '' ">There is no restaurant in this area.</p> -->
    <!-- </ng-container> -->
    <!-- </ng-container> -->
  </div>
  <div class="container__img">
    <img src="assets/images/soup.png" alt="soup" />
  </div>
</div>
