<div class="title">
  My Orders
</div>
<div class="recently">
  Recently Order
</div>
<div class="order">
  <div class="head">
    <span class="mode">Delivery</span>
    <span class="mode">Pickup</span>
    <span class="status">Pending</span>
    <div class="date">Date : 08/14/2020</div>
  </div>
  <div class="body">
    <div class="products">
      <div class="product">
        <div class="name">Margarita Pizza Margarita Pizza Margarita Pizza</div>
        <div class="price">{{ 3 | currency: 'GBP' }}</div>
      </div>
      <div class="product">
        <div class="name">Margarita Pizza</div>
        <div class="price">{{ 3 | currency: 'GBP' }}</div>
      </div>
      <div class="product">
        <div class="name">Margarita Pizza</div>
        <div class="price">{{ 3 | currency: 'GBP' }}</div>
      </div>
    </div>
    <div class="product-info">
      <div class="total">
        <span class="caption">Total</span>
        <span class="price">{{ 3 | currency: 'GBP' }}</span>
      </div>
      <div class="img"></div>
    </div>
  </div>
  <div class="footer">
    <div class="fee">
      <div class="caption">Delivery Fee:</div>
      <div class="price">{{ 3 | currency: 'GBP' }}</div>
    </div>
    <div class="btns">
      <button class="btn" type="button">Submit A Review</button>
      <button class="btn reorder" type="button">Reorder</button>
    </div>
  </div>
</div>
