@import 'src/styles/colors';
@import 'src/styles/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  width: calc(100% - 33rem);
  box-shadow: 3px 7px 20px #00000029;
  background: #fff;
  border-radius: 1rem;
  z-index: 15;
  padding: 2rem;
  .title {
    display: flex;
    align-items: center;
    height: 6rem;
    color: #000;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5rem;
  }
  .recently {
    display: flex;
    align-items: center;
    color: #5d6060;
    font-size: 1.6rem;
    height: 5rem;
  }
  .order {
    padding: 2rem;
    border-radius: 5px;
    border: solid 3px #e7ebeb;
    background-color: #ffffff;
    margin-bottom: 2rem;
    .head {
      display: flex;
      align-items: center;
      height: 5rem;
      .status,
      .mode {
        display: flex;
        align-items: center;
        height: 5rem;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0 3rem;
        background-color: #ffffff;
        margin-right: 2rem;
        border-radius: 4rem;
        border: solid 1px #707070;
      }
      .status {
        color: #d85a5a;
        border-color: #d85a5a;
      }
      .date {
        margin-left: auto;
        color: #818585;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    .body {
      display: flex;
      padding: 2rem 0;
      .products {
        display: flex;
        flex-direction: column;
        width: 30rem;
        margin-right: 5rem;
        .product {
          display: flex;
          align-items: center;
          justify-content: space-between;
          min-height: 5rem;
          max-height: 5rem;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          .price,
          .name {
            display: flex;
            align-items: center;
            min-height: 5rem;
            max-height: 5rem;
            font-size: 1.4rem;
            line-height: 2rem;
          }
          .name {
            padding-right: 2rem;
          }
        }
      }
      .product-info {
        display: flex;
        width: calc(100% - 35rem);
        justify-content: flex-end;
        .total {
          display: flex;
          flex-direction: column;
          .caption {
            padding-top: 2rem;
            margin-bottom: 1rem;
            font-weight: bold;
            font-size: 1.6rem;
            display: flex;
            justify-content: flex-end;
          }
          .price {
            display: flex;
            justify-content: flex-end;
            color: #818585;
            font-weight: 500;
            font-size: 2.6rem;
          }
        }
        .img {
          border-radius: 0.6rem;
          border: 1px solid gray;
          height: 20rem;
          width: 20rem;
          margin-left: 1rem;
        }
      }
    }
    .footer {
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .fee {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .caption {
        }
        .price {
        }
        width: 30rem;
      }
      .btns {
        display: flex;
        .btn {
          height: 5rem;
          font-size: 1.2rem;
          font-weight: 600;
          padding: 0 3rem;
          margin-left: 2rem;
          border-radius: 4rem;
          background-color: #fff;
          border: solid 1px #707070;
          &.reorder {
            color: #fff;
            background-color: #d85a5a;
            border: 0;
          }
        }
      }
    }
  }
}
