@import 'src/styles/colors';
@import 'src/styles/breakpoints';

section:first-child {
    width: 100%;
    height: 3rem;
    margin-top: 2.2rem;
    header {
        display: flex;
        flex-direction: column;
        .basket {
            display: flex;
            flex-direction: row;
            color: getColor($baseColors, 'primary');;
            padding-left: 3rem;
            margin-bottom: 2rem;
            .icon {
                padding-right: 2.3rem;
            }
            .title {
                text-transform: capitalize;
                font-family: sans-serif;
                font-size: 20px;
            }
        }
        .off-title {
            padding-left: 3.7rem;
            color: black;
            font-size: 22px;
        }
    }
}
