<section>
    <header>
        <div class="basket">
            <div class="icon" (click)="cancel()">x</div>
            <p class="title">basket</p>
        </div>
        <p class="off-title">20% off entire menu</p>
    </header>
</section>

<section>
    <main>

    </main>
</section>

<section>
    <footer>

    </footer>
</section>