<div class="restaurant">
  <div class="details">
    <img src="assets/images/soup.png" alt="" />
    <div class="title">{{ activeShop?.title }}</div>
    <div class="reviews">
      <div class="stars">
        <div class="star" *ngFor="let item of [].constructor(5)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-star"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <path
              class="s"
              d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z"
            />
          </svg>
        </div>
      </div>
      <a>View 100 reviews</a>
    </div>
    <!-- <div class="cheeky" *ngIf="width < 425">Cheeky Tuesday - 20% off when you spend £15</div> -->
    <div class="description">Description: {{ activeShop?.description }}</div>
    <div class="address">
      {{ activeShop?.country }} &nbsp; {{ activeShop?.address }} &nbsp;
      {{ activeShop?.buildingNumber }}
    </div>
    <div class="phone">
      {{ activeShop?.phone }}
    </div>
  </div>
  <app-categories [activeMenu]="activeMenu"></app-categories>
  <div class="body">
    <div class="products-list">
      <app-product-group></app-product-group>
    </div>
  </div>
</div>
<app-cart></app-cart>
