@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.restaurant {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 43rem);
  @include media('<=desktop') {
    width: 100%;
  }
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    padding: 2rem;
    margin-bottom: 3.6rem;
    height: 23rem;
    @include media('<=desktop') {
      border-radius: 0;
      margin-top: 26.4rem;
    }
    @include media('<=tablet') {
      margin-top: 30rem;
    }
    @include media('<=phone') {
      margin-bottom: 0;
      height: 10rem;
    }
    img {
      position: absolute;
      width: 10rem;
      height: 10rem;
      top: -5rem;
      @include media('<=desktop') {
        display: none;
      }
    }
    .title {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 1.8rem;
      color: #000;
      height: 4.8rem;
      margin-top: 3rem;
      @include media('<=desktop') {
        margin-top: 0;
      }
      @include media('<=phone') {
        font-weight: inherit;
        text-transform: capitalize;
        font-size: 2.5rem;
      }
    }
    .reviews {
      display: flex;
      height: 3rem;
      align-items: center;
      .stars {
        display: flex;
        .star {
          svg {
            .s {
              stroke: getColor($baseColors, 'primary');
              fill: getColor($baseColors, 'primary');
            }
          }
        }
      }
      a {
        margin-left: 1rem;
        color: #5a92de;
      }
      @include media('<phone') {
        display: none !important;
      }
    }
    .cheeky {
      width: 100vw;
      padding: 0 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 2rem;
      font-size: 1.8rem;
      color: red;
    }
    .description {
      width: 100vw;
      padding: 1rem 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 2rem;
      font-size: 1.4rem;
      color: black;
      @include media('>phone') {
        display: none !important;
      }
    }
    .address {
      display: flex;
      align-items: center;
      text-align: center;
      height: 5rem;
      line-height: 2rem;
      font-size: 1.4rem;
      @include media('<phone') {
        display: none !important;
      }
    }
    .phone {
      color: #727272;
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 1.2rem;
      height: 3rem;
      @include media('<phone') {
        display: none !important;
      }
    }
  }
  .body {
    display: flex;
    position: relative;
    padding: 3.6rem 0;
    min-height: 50rem;
    &.margin-for-stciky {
      margin-top: 5.4rem;
    }
    .products-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .status {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        background-color: getColor($baseColors, 'primary');
        color: #fff;
        font-weight: 400;
        font-size: 1.8rem;
        border-radius: 3.6rem;
        min-height: 6rem;
        max-height: 6rem;
      }
    }
  }
}
