@mixin scrollBarColor($wd: 1rem, $background: #008eff, $bar: #006af9, $rad: 0) {
  &::-webkit-scrollbar-track {
    background-color: $background;
    border-radius: $rad;
  }
  &::-webkit-scrollbar {
    width: $wd;
    border-radius: 2rem;
    background-color: $background;
  }
  &::-webkit-scrollbar-thumb {
    height: 5rem !important;
    border-radius: 1rem;
    background-color: lighten($color: $bar, $amount: 5);
  }
}
@mixin xScrollBarColor(
  $ht: 1rem,
  $background: #00abff,
  $bar: #006af9,
  $rad: 0
) {
  &::-webkit-scrollbar-track {
    background-color: $background;
    border-radius: $rad;
  }

  &::-webkit-scrollbar {
    height: $ht;
    border-radius: 2rem;
    background-color: $background;
  }

  &::-webkit-scrollbar-thumb {
    height: 5rem !important;
    border-radius: 1rem;
    background-color: $bar;
  }
}
