<div class="title">Personal Info</div>
<form class="form" [formGroup]="userForm" (ngSubmit)="onEdit()">
  <div class="form-group">
    <div class="control-group">
      <label>Email Address</label>
      <input type="text" placeholder="You@gmail.com" formControlName="email" />
    </div>
  </div>
  <div class="form-group">
    <div class="control-group half">
      <label>First Name</label>
      <input type="text" formControlName="firstName" />
    </div>
    <div class="control-group half">
      <label>Last Name</label>
      <input type="text" formControlName="lastName" />
    </div>
  </div>
  <!-- <div class="form-group">
    <div class="control-group">
      <label>Address</label>
      <input type="text" />
    </div>
  </div> -->
  <button class="btn" type="submit" [disabled]="authFacade.isloading$ | async">
    Apply Changes
  </button>
  <!-- <div class="erro">Email doesn’t Exists</div>
  <div class="success">Email Exists</div> -->
</form>
