<div class="title">Delivery Address</div>
<ng-container *ngIf="createMode">
  <div class="form-group">
    <div class="input-title">
      Flat Number/ Building Name*
    </div>
    <input type="text" placeholder="Flat Number/ Building Name" />
  </div>
  <div class="form-group">
    <div class="input-title">
      Street address*
    </div>
    <input type="text" placeholder="Flat Number/ Building Name" />
  </div>
  <div class="group">
    <div class="form-group">
      <div class="input-title">
        Postcode*
      </div>
      <input type="text" />
    </div>
    <div class="form-group">
      <div class="input-title">
        Phone number*
      </div>
      <input type="text" />
    </div>
  </div>
  <div class="form-group">
    <div class="input-title">
      Driver Instructions
    </div>
    <input
      class="nstructions"
      type="text"
      placeholder="Eg It’s a red door next to the shop. Call on arrival."
    />
  </div>
  <div class="btns">
    <button class="cancel" (click)="cancel()">Cancel</button>
    <button class="add" (click)="add()">Add</button>
  </div>
</ng-container>
<ng-container *ngIf="createMode === false">
  <div class="context">
    <div class="row">
      <input type="radio" id="address1" name="address" value="2" />
      <label for="address1">Address 1</label>
    </div>
    <div class="row">
      <input type="radio" id="address2" name="address" value="3" />
      <label for="address2">Address 2</label>
    </div>
  </div>
  <div class="add-address" (click)="addAddress()">
    <div class="icon">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="#a0a3a3"
          d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
        />
      </svg>
    </div>
    <div class="des">
      <span class="add-mehtod">Add Delivery Address</span>
    </div>
  </div>
</ng-container>
<div class="form-group">
  <div class="input-title">
    Address
  </div>
  <input
    type="text"
    (input)="getAddress($event.target.value)"
    placeholder="Address / Building Name"
  />
</div>
