@import 'src/styles/colors';

.title {
  display: flex;
  height: 5rem;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}
.context {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  .row {
    display: flex;
    align-items: center;
    height: 4rem;
    input[type='radio'] {
      margin-right: 1rem;
    }
    label {
      color: #5d6060;
      font-size: 1.4rem;
    }
  }
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .form-group {
    width: 45%;
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  .input-title {
    display: flex;
    height: 4rem;
    align-items: center;
    font-size: 1.4rem;
    color: #5d6060;
  }
  input {
    height: 4rem;
    width: 100%;
    padding: 0 2rem;
    border: 1px solid #e7ebeb;
    border-radius: 5px;
    &.nstructions {
      height: 8rem;
    }
    &::placeholder {
      font-size: 1.2rem;
    }
  }
}
.add-address {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  border: 1px solid #e7ebeb;
  height: 8rem;
  width: 100%;
  padding: 0 2rem;
  cursor: pointer;
  .icon {
    display: flex;
    margin-right: 2rem;
    svg {
      display: block;
      width: 38px;
    }
  }
  .des {
    height: 8rem;
    display: flex;
    flex-direction: column;
    span {
      display: flex;
      align-items: center;
      height: 4rem;
      font-size: 1.3rem;
      color: #a0a3a3;
    }
    .add-mehtod {
      height: 8rem;
    }
  }
}
.btns {
  display: flex;
  align-items: center;
  height: 6rem;
  margin: 2rem 0;
  .cancel,
  .add {
    border: 0;
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 500;
    color: getColor($baseColors, 'primary');
    height: 6rem;
    padding: 0;
    margin-right: 5rem;
  }
}
