@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  .container {
    padding: 3.6rem 4.8rem;
    display: flex;
    justify-content: space-between;
    @include media('<=desktop') {
      padding: 3.6rem;
    }
    @include media('<=tablet') {
      padding: 3.6rem;
      flex-direction: column;
    }
    .logo {
      display: flex;
      justify-content: center;
      font-size: 3rem;
      color: #fff;
      font-weight: bold;
      @include media('<=desktop') {
        width: 25%;
      }
      @include media('<=tablet') {
        width: 100%;
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      width: 30rem;
      @include media('<=desktop') {
        width: 30%;
      }
      @include media('<=tablet') {
        width: 100%;
        margin: 5rem 0;
      }
    }
    .menu {
      display: flex;
      flex-direction: column;
      width: 20rem;
      @include media('<=desktop') {
        width: 15%;
      }
      @include media('<=tablet') {
        width: 100%;
      }
    }
    .social {
      display: flex;
      flex-direction: column;
      width: 20rem;
      @include media('<=desktop') {
        width: 25%;
      }
      @include media('<=tablet') {
        width: 100%;
        margin: 5rem 0;
      }
      .icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: #fff;
          width: 4rem;
          height: 4rem;
          svg {
            display: block;
            path {
              fill: getColor($baseColors, 'primary');
            }
          }
        }
      }
    }
    .title {
      display: flex;
      color: #fff;
      font-weight: bold;
      font-size: 1.4rem;
      height: 3rem;
    }
    .context {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 1.2rem;
      min-height: 3rem;
      line-height: 2rem;
      a {
        color: #fff;
        &:visited {
          color: #fff;
        }
        &:active {
          color: #fff;
        }
      }
    }
  }
  .copy-right {
    display: flex;
    align-items: center;
    height: 5rem;
    border-top: 1px solid #fff;
    padding: 0 4.8rem;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      color: #fff;
    }
  }
}
