@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.container {
  display: flex;
  flex-direction: column;
  padding: 3.6rem;
  .restaurant {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 43rem);
    box-shadow: 3px 7px 20px #00000029;
    background: #fff;
    border-radius: 1rem;
    z-index: 15;
    padding: 2rem;
    @include media('<=desktop') {
      width: 100%;
      margin-bottom: 3.6rem;
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6rem;
      color: #000;
      font-weight: bold;
      font-size: 2.2rem;
    }
    .time,
    .des {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5rem;
      font-size: 1.4rem;
      color: #888888;
    }
    .time {
      height: 8rem;
      font-size: 5rem;
    }
    .progress {
      display: flex;
      flex-direction: column;
      width: 100%;
      .row {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
        margin: 1rem 0;
        height: 6rem;
        color: getColor($baseColors, 'primary');
        position: relative;
        box-shadow: 3px 3px 20px #00000029;
        .num {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 2rem;
          border-radius: 50%;
          height: 4rem;
          width: 4rem;
          border: 2px solid getColor($baseColors, 'primary');
        }
        .text {
          text-transform: uppercase;
        }
        &.active {
          background-color: getColor($baseColors, 'primary');
          border-radius: 6px;
          color: #fff;
          .num {
            border-color: #fff;
            color: #fff;
          }
        }
      }
    }
  }
}
