<div class="container">
  <div class="restaurant">
    <div class="title">
      Your order progress
    </div>
    <div class="des">
      Your order with us has been confirmed.
    </div>
    <div class="time">
      20:13
    </div>
    <div class="progress">
      <div
        class="row"
        [ngClass]="{ active: currenctOrderStatus.title === 'Accepted' }"
      >
        <span class="num">1</span>
        <span>ACCEPTED</span>
      </div>
      <div
        class="row"
        [ngClass]="{
          active: currenctOrderStatus.title === 'Ready for Delivery'
        }"
      >
        <span class="num">2</span>
        <span class="text">Prepared</span>
      </div>
      <div
        class="row"
        [ngClass]="{ active: currenctOrderStatus.title === 'Out for Delivery' }"
      >
        <span class="num">3</span>
        <span>En route</span>
      </div>
      <div
        class="row"
        [ngClass]="{ active: currenctOrderStatus.title === 'Completed' }"
      >
        <span class="num">4</span>
        <span>Delivered</span>
      </div>
    </div>
  </div>
  <app-cart></app-cart>
</div>
<!-- Accepted -->
<!-- Out for Delivery -->
<!-- Ready for Delivery -->
<!-- Completed -->
<!-- Decline -->
<!-- Return money by Stripe" -->
