@import 'src/styles/mixin';
@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 50rem;
  padding: 2rem;
  @include media('<=phone'){
    width: 100vw;
    height: 100%;
    padding: 0;
    overflow: scroll;
    position: fixed;
  }
  .img-header {
    display: flex;
    width: 100%;
    height: 14.1rem;
    background-color: red;
    margin-bottom: 2.2rem;
    img {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
  
  .title-name {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 2.7rem;
    margin-bottom: 1.6rem;
    padding: 0 3rem;
    span {
      font-size: 2rem;
      text-transform: capitalize;
      margin-left: 2rem;
      color: #28334D;
    }
  }

  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 4.4rem;
    padding: 0 3rem;
    font-size: 1.4rem;
    color: #28334D;
    line-height: 1.8rem;
  }

  .allergies {
    width: 100%;
    height: 2rem;
    margin-bottom: 3rem;
    .box-all {
      display: flex;
      width: auto;
      padding: 0 3rem;
      height: 100%;
      justify-content: flex-end;
      .vegen {
        display: flex;
        width: 10rem;
        justify-content: space-around;
        span {
          font-size: 11px;
          color: #818585;
          margin: auto 0;
        }
      }
      .br {
        width: .1rem;
        background-color: #CCC9C9;
        margin: 0 .5rem;
      }
      .spicy {
        display: flex;
        width: 8rem;
        justify-content: space-around;
        span {
          color: #818585;
          font-size: 11px;
          margin: auto 0;
        }
      }
    }
    
  }
  .style-box {
    width: 100%;
    ul {
      &.title-subject{
        background-color: #F6F5F5;
        font-size: 1.7rem;
        border-bottom: 0;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.6rem;
      height: 4.7rem;
      width: 100%;
      padding: 0 3rem;
      border-bottom: .1rem solid #0000001A;
      .additional-box {
        display: flex;
        justify-content: center;
        align-items: center;
        .additional-number {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2.3rem;
          height: 2.3rem;
          background-color: #0A692A;
          border-radius: 100%;
          color: white;
          font-weight: 400;
          &:first-child {
            margin-right: .5rem;
          }
        }
      }
      .active {
        font-weight: 700;
      }
      .price-trash {
        display: flex;
        align-items: center;
        &:first-child {
          margin-right: .2rem;
        }
      }
      &.activeFont {
        font-weight: 600;
      }
    }
  }

  .choose-one {
    height: auto;
    .choose-active {
      display: flex; 
      align-items: center;
      label {
        margin-left: 10px;
      }
      .bar-active {
        width: .5rem; 
        height: .5rem;
        background-color: green; 
        border-radius: 100%; 
        margin-right: 0;
        transition: all .5s;
        position: relative;
        left: -5rem;
      }
    } 
    .active {
      left: -1rem !important;
      margin-left: 1rem;
      animation : pulse .5s infinite;
    }
  }

  .pick-one {
    height: auto;
    margin-bottom: 2.3rem;
    .pick-active {
      display: flex; 
      align-items: center;
      label {
        margin-left: 10px;
      }
      .bar-active {
        width: .5rem; 
        height: .5rem;
        background-color: green; 
        border-radius: 100%; 
        margin-right: 0;
        transition: all .5s;
        position: relative;
        left: -5rem;
      }
    } 
    .active {
      left: -1rem !important;
      margin-left: 1rem;
      animation : pulse .5s infinite;
    }
  }
  .add-additional{
    width: 100%;
    height: auto;
    .deleteIcon {
      padding-left: .3rem;
    }
  }
  .number-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin-bottom: 9.3rem;
    .plus {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      border: 1px solid #B9B6B6;
      border-radius: 100%;
      color: #B9B6B6;
      font-size: 18px;
      background-color: white;
    }
    .counter {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      color: black;
      font-weight: 400;
      font-size: 3rem;
    }
    .minus {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      border: 1px solid #B9B6B6;
      border-radius: 100%;
      color: #B9B6B6;
      font-size: 2rem;
      background-color: white;
    }
  }
  .add-to-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7.6rem;
    background-color: getColor($baseColors, 'primary');
    position: fixed;
    bottom: 0;  
    border: none;
    color: white;
    padding: 0 3rem;
    .order-price {
      font-size: 2rem;
      font-weight: 700;
    }
    .text-order {
      font-size: 1.8rem;
      font-weight: 300;
    }
  }

  .product-name {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4rem;
    max-height: 4rem;
    width: 46rem;
    font-weight: bold;
    font-size: 1.6rem;
  }
  .hr {
    display: flex;
    min-height: 2px;
    max-height: 2px;
    margin: 2rem 0;
    width: 46rem;
    background-color: #ebebeb;
  }
  .body {
    height: calc(90vh - 18.2rem);
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    overflow-y: auto;
    @include scrollBarColor(1rem, #efefef, darken(#efefef, 20%), 1rem);
    img {
      width: 44rem;
      height: 30rem;
      object-fit: cover;
      margin-bottom: 2rem;
    }
    .description {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      color: #a0a3a3;
      font-size: 1.2rem;
      line-height: 2.5rem;
      &.contains {
        min-height: 2rem;
        font-size: 1.1rem;
      }
    }
    .accessory-name,
    .combination-name {
      display: flex;
      align-items: center;
      min-height: 4rem;
      color: #000;
      font-size: 1.6rem;
      line-height: 2.5rem;
    }
    .combination-description {
      display: flex;
      align-items: center;
      min-height: 3rem;
      color: #a0a3a3;
      font-size: 1.2rem;
      line-height: 2.5rem;
    }
    .accessory-group,
    .combination-group {
      display: flex;
      flex-direction: column;
      .head {
        height: 5rem;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: bold;
      }
      .row {
        padding-right: 2rem;
        display: flex;
        align-items: center;
        height: 4rem;
        input {
          margin-right: 1rem;
          height: 2rem;
          width: 2rem;
        }
        label {
          color: #222;
          font-size: 1.2rem;
          font-weight: bold;
        }
        .price {
          color: #222;
          font-size: 1.4rem;
          font-weight: 600;
          margin-left: auto;
        }
      }
    }
    .accessory-group {
      .row {
        justify-content: space-between;
        .item {
          display: flex;
          align-items: center;
        }
        .price {
          display: flex;
          align-items: center;
          color: #a0a3a3;
          font-size: 1.2rem;
        }
      }
    }
  }
  .footer {
    display: flex;
    align-items: center;
    height: 6rem;
    .cancel,
    .confirm {
      border: 0;
      padding: 0;
      width: 15rem;
      height: 5rem;
      border-radius: 3.6rem;
      font-size: 1.4rem;
      font-weight: bold;
      transition: all 0.3s linear;
    }
    .cancel {
      box-shadow: 2px 5px 7px #00000029;
      color: getColor($baseColors, 'primary');
      background: #fff;
      &:hover {
        background-color: darken(#fff, 5%);
      }
    }
    .confirm {
      color: #fff;
      background-color: getColor($baseColors, 'primary');
      &:hover {
        background-color: darken(getColor($baseColors, 'primary'), 5%);
      }
    }
    .qty {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 5rem;
      width: 16rem;
      padding: 0 2rem;
      .remove,
      .add {
        height: 5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
          width: 36px;
          height: 36px;
          path {
            fill: getColor($baseColors, 'primary');
          }
        }
      }
      .number {
        height: 5rem;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }
}
