<div class="container">
  <div>
    <div class="img-header">
      <img
        [src]="ref.data.images[0]?.contentUrl | imageUrl"
        onerror="this.src='assets/images/image-placeholder-2.png'"
        [alt]="ref.data.title"
      />
    </div>
    <div class="title-name">
      <div class="icon" (click)="cancel()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18.914"
          height="18.328"
          viewBox="0 0 18.914 18.328"
        >
          <g
            id="Group_10906"
            data-name="Group 10906"
            transform="translate(-267.086 -24.086)"
          >
            <line
              id="Line_151"
              data-name="Line 151"
              x1="16.5"
              transform="translate(268.5 33.25)"
              fill="none"
              stroke="#d85a5a"
              stroke-linecap="round"
              stroke-width="2"
            />
            <line
              id="Line_152"
              data-name="Line 152"
              x1="7.75"
              y2="7.75"
              transform="translate(268.5 25.5)"
              fill="none"
              stroke="#d85a5a"
              stroke-linecap="round"
              stroke-width="2"
            />
            <line
              id="Line_153"
              data-name="Line 153"
              x1="7.75"
              y1="7.75"
              transform="translate(268.5 33.25)"
              fill="none"
              stroke="#d85a5a"
              stroke-linecap="round"
              stroke-width="2"
            />
          </g>
        </svg>
      </div>
      <span>{{ ref.data.title }}</span>
    </div>
    <div class="description" *ngIf="ref.data.description">
      {{ ref.data.description }}
    </div>
    <div class="allergies">
      <div class="box-all">
        <div class="vegen">
          <div class="image">
            <svg xmlns="http://www.w3.org/2000/svg" width="20.352" height="18.483" viewBox="0 0 20.352 18.483">
              <g id="Group_10919" data-name="Group 10919" transform="translate(0 0)">
                <g id="plant" transform="translate(0 0)">
                  <g id="Group_10918" data-name="Group 10918" transform="translate(0 0)">
                    <path id="Path_10151" data-name="Path 10151" d="M8.182,23.551C6.4,21.774,2.924,21.568.462,21.568A.462.462,0,0,0,0,22.03c0,2.463.206,5.942,1.983,7.72a4.3,4.3,0,0,0,3.041,1.086,4.608,4.608,0,0,0,3.157-1.086C9.506,28.425,9.749,25.119,8.182,23.551Z" transform="translate(0 -21.568)" fill="#4caf50"/>
                    <path id="Path_10152" data-name="Path 10152" d="M264.616,63.765c-2.463,0-5.942.206-7.72,1.983-1.571,1.571-1.324,4.873,0,6.2a4.609,4.609,0,0,0,3.158,1.086,4.3,4.3,0,0,0,3.041-1.086c1.778-1.778,1.983-5.258,1.983-7.72A.462.462,0,0,0,264.616,63.765Z" transform="translate(-244.726 -61.937)" fill="#4caf50"/>
                  </g>
                  <path id="Path_10153" data-name="Path 10153" d="M91.476,121.823a.462.462,0,0,1-.462-.462c0-9.8-3.594-12.26-4.947-13.185a3.614,3.614,0,0,1-.462-.35.462.462,0,0,1,.653-.653,2.846,2.846,0,0,0,.331.241c1.2.822,4.031,2.758,5.01,9.108a11.073,11.073,0,0,1,6.079-7.559.5.5,0,0,1,.647.2.429.429,0,0,1-.161.585l-.024.012-.075.035c-5.066,2.382-6.13,7.6-6.13,11.561A.462.462,0,0,1,91.476,121.823Z" transform="translate(-81.772 -103.339)" fill="#388e3c"/>
                </g>
              </g>
            </svg>
          </div>
          <span>Vegetrian</span>
        </div>
        <div class="br"></div>
        <div class="spicy">
          <div class="image">
            <svg xmlns="http://www.w3.org/2000/svg" width="22.629" height="17.073" viewBox="0 0 22.629 17.073">
              <g id="Group_10917" data-name="Group 10917" transform="translate(0 0)">
                <g id="chili" transform="translate(0 0)">
                  <path id="Path_10146" data-name="Path 10146" d="M22.626,122.729a10.089,10.089,0,0,1-.268,1.99c-1.516,6.329-9.025,9.038-15.5,7.8-3.787-.727-7.29-3.285-6.816-5.4,0-.017.007-.033.011-.05.353-1.388,2.163-1.2,3.6-1.114,5.288.309,6.377-.506,8.99-4.1a17.849,17.849,0,0,1,1.758-2.181l.044-.042a4.745,4.745,0,0,1,1.627-1.093,5.446,5.446,0,0,1,4.932.537q.092.066.179.136A4.184,4.184,0,0,1,22.626,122.729Z" transform="translate(0 -115.738)" fill="#ff475a"/>
                  <path id="Path_10147" data-name="Path 10147" d="M22.626,141.964a10.089,10.089,0,0,1-.268,1.99c-1.516,6.329-9.025,9.038-15.5,7.8-3.787-.727-7.29-3.285-6.816-5.4,14.053,7.488,20.965-8.046,20.965-8.046q.092.066.179.136A4.184,4.184,0,0,1,22.626,141.964Z" transform="translate(0 -134.973)" fill="#e5104d"/>
                  <path id="Path_10148" data-name="Path 10148" d="M456.561,67.018l-.836-1.029a4.538,4.538,0,0,0,1.161-3.131l1.326,0C458.212,62.97,458.2,65.687,456.561,67.018Z" transform="translate(-435.583 -62.855)" fill="#0f9887"/>
                  <path id="Path_10149" data-name="Path 10149" d="M335.1,122.729a10.084,10.084,0,0,1-.268,1.99,6.118,6.118,0,0,0-2.824.3l-.866.3a13.53,13.53,0,0,0-.18-2.149l-.012-.061c-.047-.241-.108-.5-.187-.787a11.994,11.994,0,0,0-2.972.287,7.224,7.224,0,0,0-.868-2.978,4.746,4.746,0,0,1,1.627-1.093,5.446,5.446,0,0,1,4.932.537q.092.066.179.136A4.184,4.184,0,0,1,335.1,122.729Z" transform="translate(-312.47 -115.738)" fill="#11a892"/>
                  <path id="Path_10150" data-name="Path 10150" d="M422.176,141.964a10.083,10.083,0,0,1-.268,1.99,6.118,6.118,0,0,0-2.824.3l-.866.3a13.535,13.535,0,0,0-.18-2.149l-.012-.061a21.159,21.159,0,0,0,2.532-4.033q.092.066.178.136A4.184,4.184,0,0,1,422.176,141.964Z" transform="translate(-399.55 -134.973)" fill="#0f9887"/>
                </g>
              </g>
            </svg>          
          </div>
          <span>Spicy</span>
        </div>
      </div>
      
    </div>
    <div class="choose-one style-box">
      <ng-container *ngFor="let variantHead of ref.data.productVariant">
        <ul class="title-subject">
          <li>{{ variantHead.title }}</li>
          <li >Required</li>
          <!-- <li >Ok</li> -->
        </ul>
        <ul *ngFor="let variantChild of variantHead.productVariants">
          <li class="choose-active">
            <!-- <div class="bar-active" ></div> -->
            <input
            type="radio"
            [id]="variantChild['@id']"
            [name]="variantHead['@id']"
            [value]="variantChild.id"
            [checked]="variantChild.id | isVariantChecked: selectedCombinations"
            (change)="changeCombination($event, variantHead, variantChild)"
          />
          <label [for]="variantChild['@id']">{{ variantChild.title }}</label>
          </li>
          <li *ngIf="variantChild.price > 0">{{
            variantChild.price | currency: (currencySymbol$ | async)
          }}</li>
        </ul>
        <!-- <ul
          (click)="chooseActiveTwo()"
          [ngClass]="{ activeFont: activeChooseTwo }"
        >
          <li class="choose-active">
            <div class="bar-active" [ngClass]="{ active: activeChooseTwo }"></div>
            <span>medium (12")</span>
          </li>
          <li>£ 12.50</li>
        </ul>
        <ul
          (click)="chooseActiveThree()"
          [ngClass]="{ activeFont: activeChooseThree }"
        >
          <li class="choose-active">
            <div
              class="bar-active"
              [ngClass]="{ active: activeChooseThree }"
            ></div>
            <span>Large (14")</span>
          </li>
          <li>£ 12.50</li>
        </ul> -->
      </ng-container>
    </div>
  
    <div class="add-additional style-box">
      <ng-container *ngFor="let accessory of ref.data.accessories">
        <ul class="title-subject">
          <li>{{ accessory.accessory.title }}</li>
          <li>Option</li>
        </ul>
        <ul *ngFor="let acc of accessory.productHasAccessories; let i= index">
          <div
            class="additional-box"
            [id]="acc.accessory.id"
            [ngClass]="{ active: additionalNumber > 0 }"
            (click)="addAccessories(acc, acc.accessory)"
          >

          <ng-container *ngIf="selectedAccessories.length">
            <ng-container *ngFor="let findAcc of selectedAccessories">
              <ng-container *ngIf="findAcc.id === acc.accessory.id">
                <div class="additional-number" *ngIf="findAcc.qtty >= 1">{{findAcc.qtty}}</div>
              </ng-container>
            </ng-container>

          </ng-container>

          <li>{{ acc.accessory.title }}</li>
            <!-- <li *ngIf="additionalNumber > 0">Accesory 1</li> -->
          </div>
          <div class="price-trash" *ngIf="acc.price > 0" [ngClass]="{ active: additionalNumber > 0 }">
            <li>({{ acc.price | currency: (currencySymbol$ | async) }})</li>
            <ng-container *ngIf="selectedAccessories.length">
              <ng-container *ngFor="let findAcc of selectedAccessories">
                <ng-container *ngIf="findAcc.id === acc.accessory.id">
                  <li class="deleteIcon"(click)="minusAdditional(findAcc)" *ngIf="findAcc.qtty >= 1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="14.191"
                      height="17.466"
                      viewBox="0 0 14.191 17.466"
                    >
                      <path
                        id="Icon_metro-bin"
                        data-name="Icon metro-bin"
                        d="M5.59,7.386V18.3a1.1,1.1,0,0,0,1.092,1.092h9.825A1.1,1.1,0,0,0,17.6,18.3V7.386H5.59Zm3.275,9.825H7.774V9.569H8.865Zm2.183,0H9.957V9.569h1.092Zm2.183,0H12.14V9.569h1.092Zm2.183,0H14.323V9.569h1.092Zm2.456-13.1H14.323V2.747a.821.821,0,0,0-.819-.819H9.684a.821.821,0,0,0-.819.819V4.111H5.317A.821.821,0,0,0,4.5,4.93V6.294H18.69V4.93a.821.821,0,0,0-.819-.819Zm-4.639,0H9.957V3.033h3.275V4.111Z"
                        transform="translate(-4.499 -1.928)"
                        fill="#d65656"
                      />
                    </svg>
                  </li>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </ul>

      </ng-container>
    </div>
  
    <div class="pick-one style-box">
      <ng-container *ngFor="let ingredient of ref.data.ingredients; let idx = index">
        <ul class="title-subject">
          <li> {{ ingredient.title }}</li>
          <li>Required</li>
        </ul>
        <ul  *ngFor="let ing of ingredient.ingredients">
          <li class="pick-active">
            <div class="bar-active" ></div>
            <input
            type="checkbox"
            [id]="ing.id"
            [checked]="ing.checked"
            (change)="selectIngredient($event, ingredient, ing)"
          />
          <label [for]="ing.id">{{ ing.title }}</label>
          </li>
        </ul>
        <!-- <ul (click)="pickActive()" [ngClass]="{ activeFont: activePick }">
          <li class="pick-active">
            <div class="bar-active" [ngClass]="{ active: activePick }"></div>
            <span>Deep pan</span>
          </li>
        </ul> -->
      </ng-container>
    </div>
  
    <div class="number-mobile">
      <button class="minus" (click)="removeOne()">-</button>
      <span class="counter">{{ quantitiy }}</span>
      <button class="plus" (click)="addOne()">+</button>
    </div>
  </div>
  <button class="add-to-order" (click)="done()">
    <span class="text-order">Add to Order</span>
    <span class="order-price">{{ total | currency: (currencySymbol$ | async) }}</span>
  </button>
</div>
