@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.container {
  display: flex;
  flex-direction: column;
  padding: 3.6rem;
  .restaurant {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 43rem);
    box-shadow: 3px 7px 20px #00000029;
    background: #fff;
    border-radius: 1rem;
    z-index: 15;
    padding: 2rem;
    @include media('<=desktop') {
      width: 100%;
      margin-bottom: 3.6rem;
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6rem;
      color: #000;
      font-weight: bold;
      font-size: 2.2rem;
      margin: 2rem 0 0;
    }
    .des {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5rem;
      font-size: 1.4rem;
    }
    .track {
      color: #fff;
      background-color: getColor($baseColors, 'primary');
      border: 0;
      border-radius: 6px;
      width: 100%;
      height: 6rem;
      margin: 2rem 0;
    }
  }
}
