<div class="container">
  <div class="restaurant">
    <ng-lottie [options]="options"></ng-lottie>
    <div class="title">
      Order has been placed
    </div>
    <div class="des">
      Your order with us has been confirmed.
    </div>
    <button class="track" (click)="trackOrder()">Track your Order</button>
  </div>
  <app-cart></app-cart>
</div>
