@import 'src/styles/colors';

.suggest {
  display: flex;
  flex-direction: column;
  .title {
    display: flex;
    align-items: center;
    height: 4rem;
    color: #818585;
    font-size: 1.3rem;
  }
  .products__list {
    display: flex;
    width: 36rem;
    height: 15rem;
    overflow: hidden;
    .products__list--item {
      padding-left: 0.5rem;
      padding-top: 0.5rem;
      height: 20rem;
      display: flex;
      align-items: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;
      .item {
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 6px #00000029;
        min-width: 22rem;
        max-width: 22rem;
        height: 14rem;
        padding: 2rem;
        .suggest-name {
          display: flex;
          align-items: center;
          height: 3rem;
          font-size: 1.2rem;
          font-weight: 500;
        }
        .suggest-price {
          height: 3rem;
          align-items: center;
          display: flex;
          font-size: 1.2rem;
          font-weight: 500;
        }
        .add-btn {
          display: flex;
          align-items: center;
          text-align: left;
          justify-content: flex-start;
          height: 4rem;
          border: 0;
          background-color: transparent;
          padding: 0;
          font-size: 1.2rem;
          svg {
            margin-right: 0.5rem;
            width: 16px;
            path {
              fill: getColor($baseColors, 'primary');
            }
          }
          span {
            color: getColor($baseColors, 'primary');
            font-weight: bold;
          }
        }
      }
    }
  }
}
