<div class="title">Sign In</div>
<form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="form-group">
    <label>Email Address</label>
    <input type="text" placeholder="You@gmail.com" formControlName="email" />
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" formControlName="password" placeholder="Password" />
  </div>
  <div class="box-auth">
    <button class="btn" type="submit">Log In</button>
  
    <div id="gSignInWrapper" (click)="OAuthGoogle()">
      <div id="customBtn" class="customGPlusSignIn">
        <span class="icon"></span>
        <span class="buttonText">Sign in with Google</span>
      </div>
    </div>
  </div>

  <p>
    Don't have an account ? &nbsp;<a [routerLink]="['/auth/register']">Register</a>
  </p>
  <div class="erro" *ngIf="authFacade.error$ | async">
    {{ authFacade.error$ | async }}
  </div>
  <!-- <div class="success">Email Exists</div> -->
</form>

<!-- <div *ngIf="loggedIn===true">
  <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" id="firstname" [value]="user.firstName" readonly>
  </div>
  <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" [value]="user.lastName" readonly>
  </div>
  <div class="form-group">
      <label for="email2">Email</label>
      <input type="text" class="form-control" id="email2" [value]="user.email" readonly>
  </div>

  <button type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button>
</div> -->