@import 'src/styles/colors';
@import 'src/styles/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  width: 45%;
  box-shadow: 3px 7px 20px #00000029;
  background: #fff;
  border-radius: 1rem;
  z-index: 15;
  padding: 2rem;
  margin: auto;
  .title {
    display: flex;
    align-items: center;
    height: 6rem;
    color: #000;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    label {
      display: flex;
      align-items: center;
      color: #5d6060;
      font-size: 1.4rem;
      font-weight: 500;
      height: 4rem;
    }
    input {
      height: 6rem;
      border: 2px solid #e7ebeb;
      padding: 0 2rem;
      margin: 1rem 0;
    }
  }
  .box-auth {
    display: flex;
    .btn {
      color: #fff;
      background-color: getColor($baseColors, 'primary');
      border: 0;
      border-radius: 6px;
      width: 15rem;
      height: 5rem;
      font-size: 1.8rem;
      margin: 5rem 0;
    }
  
    #customBtn {
      display: inline-block;
      background: white;
      color: lighten($color: #000000, $amount: 54%);
      width: 190px;
      border-radius: 5px;
      box-shadow: 0px 1px 2px lighten($color: #000000, $amount: 54%);
      white-space: nowrap;
      margin-top: 5rem;
      margin-left: 2rem;
      padding: 3px 0;
    }
    #customBtn:hover {
      cursor: pointer;
    }
    span.icon {
      background-image: url('../../../../assets/images/btn_google_light_normal_ios.svg');
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 4px;
      padding-right: 4px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }
  }

  p {
    display: flex;
    padding: 2rem 0 5rem;
    a {
      text-decoration: underline;
    }
  }
  .success,
  .erro {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    height: 5rem;
    border-radius: 6px;
    margin-bottom: 2rem;
  }
  .erro {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  .success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
}
