<div class="container">
  <div class="product-name">{{ ref.data.title }}</div>
  <div class="hr"></div>
  <div class="body">
    <div class="img">
      <img
        [src]="ref.data.images[0]?.contentUrl | imageUrl"
        onerror="this.src='assets/images/image-placeholder-2.png'"
        [alt]="ref.data.title"
      />
    </div>
    <div class="description" *ngIf="ref.data.description !== ''">
      {{ ref.data.description }}
    </div>
    <!-- <div class="description contains">
        Contains Gluten
      </div> -->
    <div class="combination-name">
      Choose your Combination
    </div>
    <!-- <div class="combination-description">
        Combination Description
      </div> -->
    <div class="combination-group">
      <ng-container *ngFor="let variantHead of ref.data.productVariant">
        <div class="head">{{ variantHead.title }}</div>
        <div
          class="row"
          *ngFor="let variantChild of variantHead.productVariants"
        >
          <input
            type="radio"
            [id]="variantChild['@id']"
            [name]="variantHead['@id']"
            [value]="variantChild.id"
            [checked]="variantChild.id | isVariantChecked: selectedCombinations"
            (change)="changeCombination($event, variantHead, variantChild)"
          />
          <label [for]="variantChild['@id']">{{ variantChild.title }}</label>
          <span class="price" *ngIf="variantChild.price > 0">{{
            variantChild.price | currency: (currencySymbol$ | async)
          }}</span>
        </div>
      </ng-container>
    </div>
    <ng-container
      *ngFor="let accessory of ref.data.accessories; let idx = index"
    >
      <div class="accessory-group">
        <div class="head">
          {{ accessory.accessory.title }}
        </div>
        <div class="row" *ngFor="let acc of accessory.productHasAccessories">
          <div class="item">
            <input
              type="checkbox"
              [id]="acc.accessory['@id']"
              [checked]="
                acc.accessory.id
                  | isAccessoryChecked
                    : accessory.accessory.id
                    : selectedAccessories
              "
              (change)="
                selectAccessory($event, accessory.accessory, acc.accessory)
              "
            />
            <label [for]="acc.accessory['@id']">{{
              acc.accessory.title
            }}</label>
          </div>
          <div class="price" *ngIf="acc.price > 0">
            ({{ acc.price | currency: (currencySymbol$ | async) }})
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container
      *ngFor="let ingredient of ref.data.ingredients; let idx = index"
    >
      <div class="accessory-group" *ngIf="ref.data.ingredients.length">
        <div class="head">
          {{ ingredient.title }}
        </div>
        <div class="row" *ngFor="let ing of ingredient.ingredients">
          <div class="item">
            <input
              type="checkbox"
              [id]="ing.id"
              [checked]="ing.checked"
              (change)="selectIngredient($event, ingredient, ing)"
            />
            <label [for]="ing.id">{{ ing.title }}</label>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="footer">
    <button class="cancel" (click)="cancel()">Cancel</button>
    <div class="qty">
      <div class="remove" (click)="removeOne()">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H8Z"
            fill="currentColor"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12ZM21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
            fill="currentColor"
          />
        </svg>
      </div>
      <div class="number">{{ quantitiy }}</div>
      <div class="add" (click)="addOne()">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4Z"
            fill="currentColor"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13 7C13 6.44772 12.5523 6 12 6C11.4477 6 11 6.44772 11 7V11H7C6.44772 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13H11V17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17V13H17C17.5523 13 18 12.5523 18 12C18 11.4477 17.5523 11 17 11H13V7Z"
            fill="currentColor"
          />
        </svg>
      </div>
    </div>
    <button class="confirm" (click)="done()">
      Add for {{ total | currency: (currencySymbol$ | async) }}
    </button>
  </div>
</div>
