@import 'src/styles/mixin';
@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 50rem;
  padding: 2rem;
  .product-name {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4rem;
    max-height: 4rem;
    width: 46rem;
    font-weight: bold;
    font-size: 1.6rem;
  }
  .hr {
    display: flex;
    min-height: 2px;
    max-height: 2px;
    margin: 2rem 0;
    width: 46rem;
    background-color: #ebebeb;
  }
  .body {
    height: calc(90vh - 18.2rem);
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    overflow-y: auto;
    @include scrollBarColor(1rem, #efefef, darken(#efefef, 20%), 1rem);
    .img {
      display: block;
      width: 44rem;
      height: 30rem;
      img {
        width: 44rem;
        height: 30rem;
        object-fit: cover;
        margin-bottom: 2rem;
      }
    }
    .description {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      color: #a0a3a3;
      font-size: 1.2rem;
      line-height: 2.5rem;
      &.contains {
        min-height: 2rem;
        font-size: 1.1rem;
      }
    }
    .accessory-name,
    .combination-name {
      display: flex;
      align-items: center;
      min-height: 4rem;
      color: #000;
      font-size: 1.6rem;
      line-height: 2.5rem;
    }
    .combination-description {
      display: flex;
      align-items: center;
      min-height: 3rem;
      color: #a0a3a3;
      font-size: 1.2rem;
      line-height: 2.5rem;
    }
    .accessory-group,
    .combination-group {
      display: flex;
      flex-direction: column;
      .head {
        height: 4rem;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: bold;
      }
      .row {
        padding: 0 2rem;
        display: flex;
        align-items: center;
        height: 4rem;
        input {
          margin-right: 1rem;
          height: 2rem;
          width: 2rem;
        }
        label {
          color: #222;
          font-size: 1.2rem;
          font-weight: bold;
        }
        .price {
          color: #222;
          font-size: 1.4rem;
          font-weight: 600;
          margin-left: auto;
        }
      }
    }
    .accessory-group {
      .row {
        justify-content: space-between;
        .item {
          display: flex;
          align-items: center;
        }
        .price {
          display: flex;
          align-items: center;
          color: #a0a3a3;
          font-size: 1.2rem;
        }
      }
    }
  }
  .footer {
    display: flex;
    align-items: center;
    height: 6rem;
    .cancel,
    .confirm {
      border: 0;
      padding: 0;
      width: 15rem;
      height: 5rem;
      border-radius: 3.6rem;
      font-size: 1.4rem;
      font-weight: bold;
      transition: all 0.3s linear;
    }
    .cancel {
      box-shadow: 2px 5px 7px #00000029;
      color: getColor($baseColors, 'primary');
      background: #fff;
      &:hover {
        background-color: darken(#fff, 5%);
      }
    }
    .confirm {
      color: #fff;
      background-color: getColor($baseColors, 'primary');
      &:hover {
        background-color: darken(getColor($baseColors, 'primary'), 5%);
      }
    }
    .qty {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 5rem;
      width: 16rem;
      padding: 0 2rem;
      .remove,
      .add {
        height: 5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
          width: 36px;
          height: 36px;
          path {
            fill: getColor($baseColors, 'primary');
          }
        }
      }
      .number {
        height: 5rem;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }
}
