<div class="categories">
  <div class="categories__list">
    <div class="left-arrow" (click)="scrollLeftCategories(list)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-chevron-left"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" />
        <polyline points="15 6 9 12 15 18" />
      </svg>
    </div>
    <div class="list" #list>
      <ng-container *ngIf="activeMenu?.categories?.length; else showAlert">
        <div
          class="item"
          [ngClass]="{ active: activeCategoryId === 'MealDeal' }"
          (click)="selectMeal()"
        >
          Bundle
        </div>
        <ng-container *ngFor="let item of activeMenu?.categories; let i = index">
          <div
            class="item"
            *ngIf="item.displayed"
            [ngClass]="{ active: activeCategoryId === item.id }"
            (click)="selectCat(item.id)"
          >
            {{ item.title }}
          </div>
        </ng-container>
      </ng-container>
      <ng-template #showAlert>
        <p class="alert-menu">Sorry, We Haven't Available Menu :(</p>
      </ng-template>
    </div>
    <div class="right-arrow" (click)="scrollRightCategories(list)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-chevron-right"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" />
        <polyline points="9 6 15 12 9 18" />
      </svg>
    </div>
  </div>
</div>
