@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.categories {
  display: flex;
  height: 5rem;
  background-color: #fff;
  width: 100%;
  z-index: 5;
  box-shadow: 0px 3px 6px #00000012;
  transition: all 0.3s linear;
  // &.sticky-cat {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  // }
  @include media('<=tablet') {
    box-shadow: 0px 0px 20px #00000020;
  }
  @include media('<=phone') {
    height: 8rem;
    padding: 1.5rem 0;
  }
  .categories__list {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 5rem;
    overflow: hidden;
    .right-arrow,
    .left-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      width: 5rem;
      cursor: pointer;
      @include media('<=tablet') {
        display: none;
      }
    }
    .list {
      padding-top: 0.5rem;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      height: 9rem;
      width: calc(100% - 10rem);
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      &.active-drag {
        cursor: grabbing;
        cursor: -webkit-grabbing;
      }
      @include media('<=tablet') {
        width: 100%;
      }
      .alert-menu {
        margin: 12px auto;
        color: red;
        font-weight: 700;
        letter-spacing: 0.5px;
      }
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-transform: capitalize;
        min-width: 10rem;
        max-width: 10rem;
        margin: 0 1rem;
        height: 4rem;
        font-size: 1.4rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s linear;
        word-break: break-word;
        border-radius: 4px;
        &.active {
          background-color: getColor($baseColors, 'primary');
          color: #fff;
        }
        &:hover {
          background-color: getColor($baseColors, 'primary');
          color: #fff;
        }
        @include media('<=phone') {
          border-radius: 27px;
          min-width: 8rem;
          max-width: 8rem;
        }
      }
    }
  }
}
