@import 'src/styles/colors';

.mode {
  .switch {
    position: relative;
    display: inline-block;
    width: 36rem;
    height: 6rem;
    cursor: pointer;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: getColor($baseColors, 'primary');
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .slider:before {
    position: absolute;
    content: '';
    margin: 0.5rem;
    height: 5rem;
    width: 16.5rem;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .collection,
  .delivery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    height: 5rem;
    width: 17.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    .icon {
      margin-right: 0.5rem;
    }
    .details {
      display: flex;
      flex-direction: column;
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }
      .context {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
      }
    }
  }
  .delivery {
    left: 0;
  }
  .collection {
    right: 0;
  }
  input ~ .collection {
    color: #fff;
  }
  input ~ .delivery {
    color: getColor($baseColors, 'primary');
  }
  input:checked ~ .collection {
    color: getColor($baseColors, 'primary');
  }
  input:checked ~ .delivery {
    color: #fff;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(18.5rem);
    -ms-transform: translateX(18.5rem);
    transform: translateX(18.5rem);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 34px;
  }
  .whiteColor {
    color: white;
  }
  .changeColor {
    color: getColor($baseColors, 'primary') !important;
  }
  .changeSlid::before {
    right: 0 !important;
  }
}
