<div class="mode" *ngIf="showService">
  <label class="switch">
    <input
    *ngIf="showSlide"
    type="checkbox"
    [checked]="_mode"
    (change)="switchMode($event.target.checked)"
    />
    <span class="slider round" [ngClass]="{ changeSlid : singleService === 'Delivery' }"></span>
    <div class="delivery whiteColor" [ngClass]="{ changeColor : singleService === 'Collection' }">
      <div class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-car"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" />
          <circle cx="7" cy="17" r="2" />
          <circle cx="17" cy="17" r="2" />
          <path
            d="M5 17h-2v-6l2-5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"
          />
        </svg>
      </div>
      <div class="details">
        <div class="title">Delivery</div>
        <div class="context">From 17:40</div>
      </div>
    </div>
    <div class="collection whiteColor" [ngClass]="{ changeColor : singleService === 'Delivery' }">
      <div class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-box"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" />
          <polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3" />
          <line x1="12" y1="12" x2="20" y2="7.5" />
          <line x1="12" y1="12" x2="12" y2="21" />
          <line x1="12" y1="12" x2="4" y2="7.5" />
        </svg>
      </div>
      <div class="details">
        <div class="title">Collection</div>
        <div class="context">From 17:30</div>
      </div>
    </div>
  </label>
</div>
