@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.container {
  display: flex;
  flex-direction: column;
  padding: 3.6rem;
  position: relative;
  min-height: 100vh;
  .header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    // background-color: coral;
    background-image: url('../../../assets/images/restaurant.jpeg');
    background-size: cover;
    background-position-y: unset;
  }
  .routes-wrapper {
    display: flex;
    .links {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      box-shadow: 3px 7px 20px #00000029;
      border-radius: 1rem;
      width: 30rem;
      height: 34rem;
      padding: 5rem 4rem;
      margin-left: 3rem;
      z-index: 15;
      overflow: hidden;
      a {
        min-height: 6rem;
        max-height: 6rem;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.2rem;
        justify-content: flex-end;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: lighten($color: #000000, $amount: 60%);
        outline: none;
        svg {
          margin-left: 1rem;
        }
        &:first-child {
          border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
        &.active {
          color: #d85a5a;
        }
      }
    }
  }
}
