<div class="title">Payment method</div>
<div class="card-list" *ngIf="!createMode">
  <div class="payment-card">
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="72.138" height="57.185" viewBox="0 0 72.138 57.185">
        <defs>
          <style>
            .a {
              fill: #a67c52;
            }
            .b {
              fill: #87613e;
            }
            .c {
              fill: #efd358;
            }
          </style>
        </defs>
        <g transform="translate(-1 -3)">
          <path
            class="a"
            d="M67.187,13.131a2.956,2.956,0,0,0-3.152-2.71H8.879c-2.607,0-4.728-1.824-4.728-4.066A1.478,1.478,0,0,0,2.576,5,1.478,1.478,0,0,0,1,6.355V49.723c0,5.239,4.939,9.487,11.031,9.487h52a2.956,2.956,0,0,0,3.152-2.71Z"
            transform="translate(0 0.975)"
          />
          <path
            class="b"
            d="M53.314,22H38.438a7.438,7.438,0,0,0,0,14.876H53.314A1.488,1.488,0,0,0,54.8,35.389v-11.9A1.488,1.488,0,0,0,53.314,22Z"
            transform="translate(18.336 6.121)"
          />
          <path
            class="b"
            d="M5.463,3H47.117a2.975,2.975,0,0,1,2.975,2.975v5.951H5.463A4.463,4.463,0,0,1,1,7.463H1A4.463,4.463,0,0,1,5.463,3Z"
          />
          <circle class="c" cx="3" cy="3" r="3" transform="translate(53 32.185)" />
        </g>
      </svg>
    </div>
    <div class="des">
      <span>Cash Payment</span>
      <span>Pay On Arrival</span>
    </div>
    <button class="delete">Delete</button>
  </div>
  <div class="payment-card">
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="80.392" height="62.494" viewBox="0 0 80.392 62.494">
        <path
          fill="#54a1c5"
          d="M45.178,50.944c0-2.288-1.967-2.567-3.822-2.567L35.9,48.335V58h2.288V54.5H40.7c2.567,0,2.023,1.437,2.065,3.5h2.316V56.119c0-1.283-.209-2.106-1.534-2.567A2.747,2.747,0,0,0,45.178,50.944Zm-4.1,1.576H38.189V50.386h2.929c.711,0,1.493.14,1.493,1.032C42.611,52.339,41.872,52.52,41.077,52.52ZM38.747,65H31.4l-2.929,3.181L25.607,65H16.33l-.014,9.667h9.123l2.971-3.208,2.846,3.208h4.492l.014-3.25c2.636,0,6.877.642,6.877-3.25,0-2.413-1.716-3.167-3.892-3.167Zm-14.48,7.63H18.6V70.71h5.064V68.743H18.6V67h5.817l2.5,2.818Zm9.179,1.144-3.529-3.92,3.529-3.822Zm5.273-4.324H35.762V67h3c.781,0,1.423.321,1.423,1.172C40.184,69.064,39.543,69.455,38.72,69.455ZM34.311,50.386V48.349H26.569v9.667h7.742V56.021H28.885V54.1h5.273V52.129H28.885V50.386ZM80.178,63.163h0Zm-27.146,4.45c0-2.288-1.967-2.609-3.78-2.609h-5.5l-.014,9.667h2.316l.014-3.529h2.455c1.534,0,2.065.279,2.065,1.925l-.014,1.6h2.316l.014-1.925c0-1.242-.251-2.106-1.534-2.567A2.76,2.76,0,0,0,53.032,67.613Zm-4.073,1.562H46.071V67H49c.711,0,1.493.14,1.493,1.032C50.493,68.994,49.74,69.176,48.959,69.176Zm-24.1-11.16V48.349H21l-2.748,6.556-3.027-6.556h-3.78v9.165l-3.92-9.165H4.11L-.033,58.016h2.5l.893-2.134H8.17l.893,2.134h4.715V50.455l3.348,7.561h2.037l3.348-7.561v7.561ZM4.18,53.873l1.562-3.85,1.6,3.85Zm66.6,22.166v-.628c-1.507.781-.544.628-21.859.628,0-3.515.014-3.334,0-3.515-.237-.014-.446-.014-1.311-.014,0,2.5-.014.949-.014,3.529H42.067c0-1.688.014-2.134.014-4.073a9.037,9.037,0,0,1-4.785.865c0,2.051-.014,1.158-.014,3.208H30.461c-.711-.8-.377-.432-2.148-2.427-.446.488-1.786,1.939-2.246,2.427H14.629V63.163H26.221c.7.781.391.432,2.162,2.4.446-.488,1.7-1.869,2.19-2.4h8.091a6.661,6.661,0,0,1,3.39.781v-.781c7.575,0,8.97-.2,10.56.711v-.711H63.522v.725c1.59-.963,2.734-.725,9.053-.725v.7c1.437-.823,2.316-.725,7.575-.7V38.7a6.7,6.7,0,0,0-6.7-6.7H6.5A6.7,6.7,0,0,0-.2,38.7V54.013c1.311-3.055,2.748-6.417,3.222-7.519H8.56c.6,1.409.223.516,1.255,2.943V46.494h6.417c.4.865,1.548,3.348,1.939,4.185.809-1.9,1.409-3.334,1.758-4.185H34.3c0-.014,1.6,0,1.618,0,6.1.028,7.477-.112,8.984.739v-.739h5.566v1.3a6.671,6.671,0,0,1,4.283-1.3H58.6c0,.07.265.042.321.042h4.52c.586,1.367.363.837,1.228,2.874V46.536h6.04c.684,1.116-.14-.251,1.562,2.567V46.536h5.566V59.369h-5.8c-.753-1.255-.2-.307-1.841-3.055v3.055H62.824c-.893-2.065-.014-.042-.921-2.134h-2.65c-.586,1.395-.307.725-.893,2.134H54.622a6.486,6.486,0,0,1-4.143-1.242v1.242H41.2c-.042-1.939-.014-3.46-.014-3.46a9.957,9.957,0,0,0-1.367-.028v3.5H20.92v-1.59c-.349.781-.377.823-.711,1.59H16.093c-.558-1.242-.4-.893-.711-1.59v1.59H8c-.586-1.409-.307-.739-.893-2.134H4.431c-.586,1.395-.307.725-.893,2.134H-.172V87.8a6.7,6.7,0,0,0,6.7,6.7H73.5a6.7,6.7,0,0,0,6.7-6.7V75.188C78.42,76.346,75.63,76.039,70.776,76.039Zm5.064-9h4.2V65H75.449c-1.786,0-3.32.921-3.32,2.888,0,4.6,5.956,1.786,5.956,3.822,0,.711-.6.893-1.172.893H72.45l-.014,2.065H76.9a3.656,3.656,0,0,0,3.139-1.242v-3.6c-1.465-1.925-5.482-.181-5.482-1.883C74.556,67.139,75.2,67.041,75.839,67.041Zm-7.951,5.552H63.4l-.014,2.065h4.492c2.065,0,3.655-.781,3.655-3.069,0-4.631-5.984-1.562-5.984-3.669,0-.781.684-.893,1.283-.893h4.241V64.991H66.437c-1.786,0-3.278.921-3.278,2.888,0,4.6,5.956,1.744,5.956,3.822C69.1,72.454,68.46,72.593,67.888,72.593ZM62,67V65H54.3l-.014,9.667h7.7L62,72.677l-5.385-.042V70.71H61.9V68.743H56.631V67ZM54.148,51.92c-.042.028-.2.307-.2,1.06,0,.837.126,1.074.153,1.1a1.1,1.1,0,0,0,.474.07L55.6,51.795c-.153,0-.293-.014-.432-.014C54.385,51.781,54.19,51.878,54.148,51.92Zm2.846-1.465h0Zm-2.26-2.12c-3.278,0-4.743,1.674-4.743,4.924,0,3.1,1.423,4.743,4.6,4.743h2.678l.893-2.134H62.95L63.871,58h4.7v-7.24L72.924,58h3.292V48.377H73.859v6.71L69.8,48.377H66.27V57.5l-3.892-9.123h-3.46l-3.278,7.6H54.608c-1.855,0-2.246-1.13-2.246-2.776,0-3.32,2.19-2.79,4.617-2.748v-2.12Zm5.873,1.688,1.562,3.85H58.988ZM46.5,48.349v9.667h2.357V48.349Z"
          transform="translate(0.2 -32)"
        />
      </svg>
    </div>
    <div class="des">
      <span>American Express</span>
      <span>Ending in 2000</span>
    </div>
    <button class="delete">Delete</button>
  </div>
  <!-- <div class="payment-card create" (click)="createCard()">
    <div class="icon">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          fill="#a0a3a3"
          d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
        />
      </svg>
    </div>
    <div class="des">
      <span class="add-mehtod">Add Payment Method</span>
    </div>
  </div> -->
</div>
<div class="create-list" *ngIf="createMode">
  <div class="form-group">
    <div class="input-title">
      Card Number
    </div>
    <input type="text" placeholder="Card Number" />
  </div>
  <div class="group">
    <div class="form-group">
      <div class="input-title">
        Expiry Date
      </div>
      <input type="text" placeholder="MM/YY" />
    </div>
    <div class="form-group">
      <div class="input-title">
        CVV Number
      </div>
      <input type="text" placeholder="CVV" />
    </div>
  </div>
  <div class="form-group">
    <div class="input-title">
      Billing Post Code
    </div>
    <input type="text" placeholder="E.G. BN1 4GA" />
  </div>
  <div class="row">
    <input type="checkbox" id="male4" />
    <label for="male4">Save this card for future orders.</label>
  </div>
  <div class="des">
    Your payment details are stored securely with a payment processing partner using bank grade encryption.
  </div>
  <div class="btns">
    <button class="cancel">Cancel</button>
    <button class="add">Add</button>
  </div>
</div>
