<div class="container">
  <main class="main">
    <app-search-area></app-search-area>
    <app-food-quality></app-food-quality>
  </main>
  <app-map></app-map>
</div>
<ngx-ui-loader
  [bgsColor]="'red'"
  [bgsType]="SPINNER.threeBounce"
  [bgsSize]="80"
></ngx-ui-loader>
