@import 'src/styles/breakpoints';

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main.main {
    display: flex;
    flex-direction: column;
    padding: 3.6rem;
    @include media('<=desktop') {
      padding: 3.6rem 2rem;
    }
  }
}
