<div class="map">
    <google-map
        #googleMap
        height = "100%"
        width="100%"
        [center]="center"
        [zoom]="zoom"
        [options]="options"
    >
    <map-marker 
        #marker="mapMarker"
        *ngFor="let markerPosition of markerPositions"
        [position]="markerPosition"
        [options]="markerOptions"
    ></map-marker>
</google-map>
</div>