@import 'src/styles/colors';

.map {
    width: 100%;
    height: 26rem;
    // background-color: green;
    border-radius: 7px;
    margin: .5rem 0;
    border: .2rem solid getColor($activatedColor, 'hr');
    border-radius: .7rem;
}