.context {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  .row {
    display: flex;
    align-items: center;
    height: 5rem;
    input[type='radio'] {
      margin-right: 1rem;
    }
    label {
      color: #5d6060;
      font-size: 1.4rem;
    }
    .pick-time {
      width: 35%; 
      height: 100%; 
      margin-left: 3.8rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .day {
        display: flex;
        flex-direction: column;
        width: 12rem;
        .day-title {
          font-weight: bold;
          font-size: 14px;
          margin-bottom: .5rem;
          margin-left: 30%;
        }
        select {
          padding: 2px 0;
          border-radius: 5px;
        }
      }
      .time {
        display: flex;
        flex-direction: column;
        width: 10rem;
        .time-title {
          font-weight: bold;
          font-size: 14px;
          margin-bottom: .5rem;
          margin-left: 30%;
        }
        select {
          padding: 2px 0;
          border-radius: 5px;
        }
      }
    }

  }
}
