<div class="context">
  <div class="row">
    <input type="radio" id="delivery" (change)="selectCheck('delivery')" name="gender" value="1" />
    <label for="delivery">Asap</label>
  </div>
  <div class="row">
    <input type="radio" id="pick" (change)="selectCheck('pick')" name="gender" value="1" />
    <label for="pick">Pick a Time</label>
    <div class="pick-time" *ngIf="showPick">
      <div class="day">
        <label for="cars" class="day-title">Day</label>
        <select name="pickDay" id="pickDay">
          <option value="0">Today</option>
          <option value="1">1 Days later</option>
          <option value="2">2 Days later</option>
          <option value="3">3 Days later</option>
        </select>
      </div>
      <div class="time">
        <label for="cars" class="time-title">Time</label>
        <select name="pickTime" id="pickTime">
          <option value="30 min">30 min</option>
          <option value="60 min">60 min</option>
          <option value="90 min">90 min</option>
          <option value="120 min">120 min</option>
        </select>
      </div>
    </div>
  </div>
</div>
