@import 'src/styles/colors';
@import 'src/styles/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  width: calc(100% - 33rem);
  box-shadow: 3px 7px 20px #00000029;
  background: #fff;
  border-radius: 1rem;
  z-index: 15;
  padding: 2rem;
  .title {
    display: flex;
    align-items: center;
    height: 6rem;
    color: #000;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5rem;
  }
  .recently {
    display: flex;
    align-items: center;
    color: #5d6060;
    font-size: 1.6rem;
    height: 5rem;
  }
  .comment {
    padding: 2rem;
    border-radius: 5px;
    border: solid 3px #e7ebeb;
    background-color: #ffffff;
    margin-bottom: 2rem;
    .body {
      display: flex;
      .img {
        margin-right: 2rem;
        border-radius: 50%;
        background-color: gray;
        min-width: 5rem;
        max-width: 5rem;
        min-height: 5rem;
        max-height: 5rem;
      }
      .text {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2rem;
      }
    }
    .footer {
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .date,
      .order {
        color: #818585;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        padding: 0 2rem;
        font-weight: 600;
      }
      .order {
        border-radius: 4rem;
        border: solid 1px #707070;
      }
    }
  }
}
