<div class="title">
  My Comments
</div>
<div class="recently">
  Recent Comments
</div>
<div class="comment">
  <div class="body">
    <div class="img"></div>
    <div class="text">
      Cras sed quam quis est viverra convallis. Donec non aliquam urna. Integer
      non massa ullamcorper neque dignissim egestas nec quis urna. Cras sed quam
      quis est viverra convallis. Donec non aliquam urna. Integer non massa
      ullamcorper neque dignissim egestas nec quis urna.
    </div>
  </div>
  <div class="footer">
    <div class="date">2 days age. 11:30 Am</div>
    <div class="order">Pizza Margarita</div>
  </div>
</div>
<div class="comment">
  <div class="body">
    <div class="img"></div>
    <div class="text">
      Cras sed quam quis est viverra convallis. Donec non aliquam urna. Integer
      non massa ullamcorper neque dignissim egestas nec quis urna. Cras sed quam
      quis est viverra convallis. Donec non aliquam urna. Integer non massa
      ullamcorper neque dignissim egestas nec quis urna.
    </div>
  </div>
  <div class="footer">
    <div class="date">2 days age. 11:30 Am</div>
    <div class="order">Pizza Margarita</div>
  </div>
</div>
