<div class="container">
  <app-create-web
    *ngIf="isHandset === false"
    [activeMenu]="activeMenu$ | async"
    [activeShop]="activeShop$ | async"
  ></app-create-web>
  <app-create-mobile
    *ngIf="isHandset === true"
    [activeMenu]="activeMenu$ | async"
    [activeShop]="activeShop$ | async"
    [isHandset]="isHandset"
  ></app-create-mobile>
</div>
