@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.cart {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 3px 7px 20px #00000029;
  border-radius: 1rem;
  width: 40rem;
  height: calc(100vh - 22.2rem);
  margin-left: 3rem;
  position: absolute;
  top: 3.6rem;
  right: 3.6rem;
  z-index: 10;
  padding: 2rem;
  overflow: hidden;
  transition: all 0.3s linear;
  @include media('<=desktop') {
    position: inherit;
    width: 100%;
    margin: 0 auto;
  }
  .wrapper {
    width: 44rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    @include media('<=desktop') {
      width: 100%;
      align-items: center;
      overflow: hidden;
    }
  }
  &.sticky {
    position: fixed;
    top: 6rem;
    height: calc(100vh - 9.2rem);
    @include media('<=desktop') {
      position: inherit;
      height: auto;
    }
  }
}
.free-stuff {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  .top {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-bottom: 1rem;
    .icon {
      margin-right: 1rem;
      svg {
        path {
          fill: getColor($baseColors, 'primary');
        }
      }
    }
    .info {
      display: flex;
      align-items: center;
      height: 3rem;
      font-size: 1.3rem;
    }
  }
  .bot {
    display: flex;
    .bar {
      display: flex;
      height: 2px;
      width: 50%;
      background-color: getColor($baseColors, 'primary');
    }
  }
}
.checkout-btn {
  background-color: getColor($baseColors, 'primary');
  border: 0;
  border-radius: 3.6rem;
  min-height: 6rem;
  max-height: 6rem;
  width: 36rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
}
.products {
  width: 36rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  .products__item {
    display: flex;
    flex-direction: column;
    .products__item--product {
      display: flex;
      align-items: center;
      height: 4rem;
      .qty {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 7rem;
        margin-right: 1rem;
        height: 4rem;
        .remove,
        .add {
          display: flex;
          height: 4rem;
          align-items: center;
          cursor: pointer;
          svg {
            path {
              fill: getColor($baseColors, 'primary');
            }
          }
        }
        .number {
          display: flex;
          height: 4rem;
          align-items: center;
          font-size: 1.4rem;
          color: #000;
        }
      }
      .name {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        color: #000;
        width: 20rem;
        height: 4rem;
      }
      .price {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 4rem;
        font-size: 1.4rem;
        color: #000;
        width: 7rem;
        margin-left: 1rem;
      }
    }
    .products__item--accessory {
      display: flex;
      align-items: center;
      height: 3rem;
      padding-left: 10rem;
      color: #808080;
      font-size: 1.3rem;
    }
    .caption {
      display: flex;
      align-items: center;
      height: 3rem;
      padding-left: 8rem;
      color: #808080;
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
}
.note {
  width: 36rem;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  height: 7rem;
  font-weight: bold;
  font-size: 1.4rem;
  color: getColor($baseColors, 'primary');
}
.hr {
  display: flex;
  background-color: #ebebeb;
  width: 36rem;
  min-height: 2px;
  margin: 2rem 0;
}
.payment-prices {
  display: flex;
  width: 36rem;
  flex-direction: column;
  .subtotal {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    .total {
      font-weight: bold;
    }
    .context {
    }
  }
  .tags {
    display: flex;
    height: 3rem;
    align-items: center;
    .icon {
      display: flex;
      align-items: center;
      margin-right: 0.3rem;
      svg {
        circle,
        .p {
          stroke: getColor($baseColors, 'primary');
        }
      }
    }
    .context {
      color: #818585;
      font-weight: 400;
      font-size: 1.2rem;
    }
  }
  .total {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    .total {
      font-weight: bold;
    }
    .context {
    }
  }
}
