<div class="cart">
  <div class="wrapper">
    <app-del-col-switch
      [mode]="mode"
      (onChangeMode)="onChangeMode($event)"
    ></app-del-col-switch>
    <div class="free-stuff">
      <div class="top">
        <div class="icon">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11 10.9794C11 10.4271 11.4477 9.97937 12 9.97937C12.5523 9.97937 13 10.4271 13 10.9794V16.9794C13 17.5317 12.5523 17.9794 12 17.9794C11.4477 17.9794 11 17.5317 11 16.9794V10.9794Z"
              fill="currentColor"
            />
            <path
              d="M12 6.05115C11.4477 6.05115 11 6.49886 11 7.05115C11 7.60343 11.4477 8.05115 12 8.05115C12.5523 8.05115 13 7.60343 13 7.05115C13 6.49886 12.5523 6.05115 12 6.05115Z"
              fill="currentColor"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12Z"
              fill="currentColor"
            />
          </svg>
        </div>
        <div class="info">Add £5.00 to get free delivery</div>
      </div>
      <div class="bot">
        <div class="bar"></div>
      </div>
    </div>
    <button class="checkout-btn" (click)="checkout()">Go To Checkout</button>
    <div class="products">
      <div class="products__item" *ngFor="let product of basket">
        <div class="products__item--product">
          <div class="qty">
            <div class="remove" (click)="remove(product)">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H8Z"
                  fill="currentColor"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12ZM21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                  fill="currentColor"
                />
              </svg>
            </div>
            <div class="number">{{ product.quantity }}</div>
            <div class="add" (click)="add(product)">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4Z"
                  fill="currentColor"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M13 7C13 6.44772 12.5523 6 12 6C11.4477 6 11 6.44772 11 7V11H7C6.44772 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13H11V17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17V13H17C17.5523 13 18 12.5523 18 12C18 11.4477 17.5523 11 17 11H13V7Z"
                  fill="currentColor"
                />
              </svg>
            </div>
          </div>
          <div class="name">{{ product.product.title }}</div>
          <div class="price">
            {{ product.total | currency: (currencySymbol$ | async) }}
          </div>
        </div>
        <ng-container *ngIf="product.selectedCombinations.length">
          <div class="caption">Attribute</div>
          <ng-container *ngFor="let item of product.selectedCombinations">
            <div class="products__item--accessory">
              {{ item.title }}: {{ item.child.title }}
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="product.selectedAccessories.length">
          <div class="caption">Extras</div>
          <ng-container *ngFor="let accessory of product.selectedAccessories">
            <div
              class="products__item--accessory"
              *ngFor="let acc of accessory.childs"
            >
              {{ accessory.title }}: {{ acc.title }}
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="product.selectedIngredients.length">
          <div class="caption">Ingredients</div>
          <ng-container *ngFor="let ings of product.selectedIngredients">
            <div
              class="products__item--accessory"
              *ngFor="let ing of ings.ingredients"
            >
              {{ ings.title }}: &nbsp;<span>{{ ing.checked ? '+' : '-' }}</span>
              {{ ing.title }}
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <!-- <app-suggest></app-suggest>
    <div class="note">
      Order Notes
    </div> -->
    <div class="payment-prices">
      <div class="hr"></div>
      <div class="subtotal">
        <span class="title">Subtotal</span>
        <span class="context">{{
          0 | currency: (currencySymbol$ | async)
        }}</span>
      </div>
      <div class="subtotal">
        <span class="title">Delivery Fee</span>
        <span class="context">{{
          0 | currency: (currencySymbol$ | async)
        }}</span>
      </div>
      <div class="tags">
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-tag"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <path
              class="p"
              d="M11 3L20 12a1.5 1.5 0 0 1 0 2L14 20a1.5 1.5 0 0 1 -2 0L3 11v-4a4 4 0 0 1 4 -4h4"
            />
            <circle cx="9" cy="9" r="2" />
          </svg>
        </div>
        <div class="context">Spend £10+ to get free delivery</div>
      </div>
      <div class="hr"></div>
      <div class="total">
        <span class="title">Total</span>
        <span class="context">{{
          basketTotal$ | async | currency: (currencySymbol$ | async)
        }}</span>
      </div>
    </div>
  </div>
</div>
