@import 'src/styles/reset.scss';
@import 'src/styles/breakpoints.scss';
@import 'src/styles/mixin';
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*,
:before,
:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  user-select: none;
  font-size: 62.5%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  @include scrollBarColor(1rem, #efefef, darken(#efefef, 20%), 1rem);
}
button {
  font-family: 'Poppins', sans-serif;
}
app-footer {
  margin-top: auto;
}
.mobile-dialog {
  .ngneat-dialog-backdrop {
    padding: 0;
  }
}
// ngneat-dialog {
//   .ngneat-dialog-backdrop {
//     // backdrop styles
//     .ngneat-dialog-content {
//       // dialog content, where your component/template is placed
//       .ngneat-drag-marker {
//         // draggable marker
//       }
//       .ngneat-close-dialog {
//         // 'X' icon for closing the dialog
//       }
//       .ngneat-dialog-primary-btn,
//       .ngneat-dialog-secondary-btn {
//         // the default dialogs action buttons
//       }
//     }
//   }
// }
