@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.restaurant {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 43rem);
  @include media('<=desktop') {
    width: 100%;
  }
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    padding: 2rem;
    height: 23rem;
    @include media('<=desktop') {
      border-radius: 0;
      margin-top: 26.4rem;
    }
    @include media('<=tablet') {
      margin-top: 30rem;
    }
    @include media('<=phone') {
      margin-bottom: 0;
      height: 10rem;
    }
    img {
      position: absolute;
      width: 10rem;
      height: 10rem;
      top: -5rem;
      @include media('<=desktop') {
        display: none;
      }
    }
    .title {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 1.8rem;
      color: #000;
      height: 4.8rem;
      margin-top: 3rem;
      @include media('<=desktop') {
        margin-top: 0;
      }
      @include media('<=phone') {
        font-weight: inherit;
        text-transform: capitalize;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        font-family: 'Roboto', sans-serif;
        text-align: center;
      }
    }
    .reviews {
      display: flex;
      height: 3rem;
      align-items: center;
      .stars {
        display: flex;
        .star {
          svg {
            .s {
              stroke: getColor($baseColors, 'primary');
              fill: getColor($baseColors, 'primary');
            }
          }
        }
      }
      a {
        margin-left: 1rem;
        color: #5a92de;
      }
      @include media('<phone') {
        display: none !important;
      }
    }
    .cheeky {
      width: 100vw;
      padding: 0 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 2rem;
      font-size: 1.8rem;
      color: red;
    }
    .description {
      width: 100%;
      padding: 1rem 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 2rem;
      font-size: 1.4rem;
      color: black;
      @include media('>phone') {
        display: none !important;
      }
    }
    .address {
      display: flex;
      align-items: center;
      text-align: center;
      height: 5rem;
      line-height: 2rem;
      font-size: 1.4rem;
      @include media('<phone') {
        display: none !important;
      }
    }
    .phone {
      color: #727272;
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 1.2rem;
      height: 3rem;
      @include media('<phone') {
        display: none !important;
      }
    }
  }
  .body {
    display: flex;
    position: relative;
    padding: 3.6rem 0;
    min-height: 50rem;
    &.margin-for-stciky {
      margin-top: 5.4rem;
    }
    .products-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .status {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        background-color: getColor($baseColors, 'primary');
        color: #fff;
        font-weight: 400;
        font-size: 1.8rem;
        border-radius: 3.6rem;
        min-height: 6rem;
        max-height: 6rem;
      }
    }
  }
}
.switch-tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  border-bottom: 4px solid lighten($color: gray, $amount: 20);
  button {
    background-color: transparent;
    border: 0;
    font-size: 1.4rem;
    font-weight: 600;
    width: 15rem;
    height: 5rem;
    color: lighten($color: gray, $amount: 20);
    &.active {
      color: #222;
    }
  }
  .bar {
    position: absolute;
    bottom: -4px;
    border-radius: 1rem;
    left: 0;
    display: flex;
    height: 4px;
    width: 15rem;
    background-color: getColor($baseColors, 'primary');
    transition: all 0.2s ease-out;
  }
}
.reserve-box {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #0000006e;
  bottom: 0;
  margin-bottom: 8rem;
  position: fixed;
  font-size: 1.4rem;
  .del-col {
    width: 6rem;
    height: 0.4rem;
    display: flex;
    background-color: white;
    position: fixed;
    top: 57.4vh;
    margin-left: 42%;
  }
  .reserve-service {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 34rem;
    background-color: white;
    bottom: 0;
    position: fixed;
    padding: 3rem 0 3rem 3rem;
    .box-service {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;
      height: 6rem;
      color: #9d9ea1;
      :last-child {
        margin-right: 0;
      }
      .title {
        margin-right: 2rem;
        letter-spacing: 0.5px;
      }
      .btn-service {
        height: 4rem;
        padding: 1rem;
        background-color: white;
        border-radius: 24px;
        border: 1px solid #757575;
        margin-right: 2rem;
        box-shadow: 2px 2px 6px #00000043;
        color: #757575;
        transition: all 0.2s linear;
        letter-spacing: 0.5px;
        &.active {
          background-color: getColor($baseColors, 'primary');
          color: #fff;
          border: 0;
          display: flex;
        }
        svg {
          padding-left: 1rem;
        }
      }
    }
    .box-where {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;
      height: 6rem;
      color: #9d9ea1;
      .title {
        margin-right: 2rem;
        letter-spacing: 0.5px;
      }
      .postCod {
        margin-right: 2rem;
        color: black;
        letter-spacing: 0.5px;
      }
    }
    .box-when {
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100%;
      height: 6rem;
      color: #9d9ea1;
      .title {
        margin-right: 2rem;
        letter-spacing: 0.5px;
      }
      .bnt-when {
        height: 4rem;
        padding: 1rem;
        background-color: white;
        border-radius: 24px;
        border: 1px solid #757575;
        margin-right: 2rem;
        box-shadow: 2px 2px 6px #00000043;
        color: #757575;
        transition: all 0.2s linear;
        letter-spacing: 0.5px;
        &.active {
          background-color: getColor($baseColors, 'primary');
          color: #fff;
          border: 0;
          display: flex;
        }
        svg {
          padding-left: 1rem;
        }
      }
    }
  }
}
