<div class="restaurant">
  <div class="details">
    <img src="assets/images/soup.png" alt="" />
    <div class="title">{{ activeShop?.title }}</div>
    <div class="reviews">
      <div class="stars">
        <div class="star" *ngFor="let item of [].constructor(5)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-star"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <path
              class="s"
              d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z"
            />
          </svg>
        </div>
      </div>
      <a>View 100 reviews</a>
    </div>
    <!-- <div class="cheeky" *ngIf="width < 425">Cheeky Tuesday - 20% off when you spend £15</div> -->
    <div class="discription">Discription: {{ activeShop?.description }}</div>
    <div class="address">
      {{ activeShop?.country }} &nbsp; {{ activeShop?.address }} &nbsp;
      {{ activeShop?.buildingNumber }}
    </div>
    <div class="phone">
      {{ activeShop?.phone }}
    </div>
  </div>
  <div class="switch-tab">
    <div class="bar" #bar></div>
    <button
      type="button"
      #menu
      (click)="changeTab('Menu')"
      [ngClass]="{ active: tab === 'Menu' }"
    >
      Menu
    </button>
    <button
      type="button"
      #info
      (click)="changeTab('Information')"
      [ngClass]="{ active: tab === 'Information' }"
    >
      Information
    </button>
  </div>
  <ng-container *ngIf="tab === 'Menu'">
    <app-categories [activeMenu]="activeMenu"></app-categories>
    <div class="body">
      <div class="products-list">
        <app-product-group [isHandset]="isHandset"></app-product-group>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="tab === 'Information'">
    <app-information [activeShop]="activeShop"></app-information>
  </ng-container>
</div>
<app-service-restaurant
  class="restaurant-service"
  (showService)="del_col()"
></app-service-restaurant>
<div class="reserve-box" *ngIf="reserve_del_col">
  <div class="del-col"></div>
  <div class="reserve-service">
    <div class="box-service">
      <p class="title">Service</p>
      <button class="btn-service" [ngClass]="{ active: active === 'delivery' }">
        Delivery
        <svg
          *ngIf="active === 'delivery'"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="16"
          viewBox="0 0 16.573 13.007"
        >
          <path
            id="Path_10160"
            data-name="Path 10160"
            d="M-4872,3645.852l4.273,4.274,1.727-1.727,9.159-9.159"
            transform="translate(4872.707 -3638.533)"
            fill="none"
            stroke="#fff"
            stroke-width="2"
          />
        </svg>
      </button>
      <button
        class="btn-service"
        [ngClass]="{ active: active === 'collection' }"
      >
        Collection
        <svg
          *ngIf="active === 'collection'"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="16"
          viewBox="0 0 16.573 13.007"
        >
          <path
            id="Path_10160"
            data-name="Path 10160"
            d="M-4872,3645.852l4.273,4.274,1.727-1.727,9.159-9.159"
            transform="translate(4872.707 -3638.533)"
            fill="none"
            stroke="#fff"
            stroke-width="2"
          />
        </svg>
      </button>
    </div>
    <div class="box-where">
      <p class="title">Where</p>
      <p class="postCod">EN3B64</p>
      <p class="change" (click)="previousPage()">Change</p>
    </div>
    <div class="box-when">
      <p class="title">When</p>
      <button
        class="bnt-when"
        [ngClass]="{ active: _active === 'when' }"
        (click)="changeWhen('when')"
      >
        ASAP
        <svg
          *ngIf="_active === 'when'"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="16"
          viewBox="0 0 16.573 13.007"
        >
          <path
            id="Path_10160"
            data-name="Path 10160"
            d="M-4872,3645.852l4.273,4.274,1.727-1.727,9.159-9.159"
            transform="translate(4872.707 -3638.533)"
            fill="none"
            stroke="#fff"
            stroke-width="2"
          />
        </svg>
      </button>
      <button
        class="bnt-when"
        [ngClass]="{ active: _active === 'order' }"
        (click)="changeWhen('order')"
      >
        Order For Late
        <svg
          *ngIf="_active === 'order'"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="16"
          viewBox="0 0 16.573 13.007"
        >
          <path
            id="Path_10160"
            data-name="Path 10160"
            d="M-4872,3645.852l4.273,4.274,1.727-1.727,9.159-9.159"
            transform="translate(4872.707 -3638.533)"
            fill="none"
            stroke="#fff"
            stroke-width="2"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
