<div class="title">Sign In</div>
<div class="form-group">
  <label>Email Address</label>
  <input type="text" placeholder="You@gmail.com" />
</div>
<button class="btn">Log In</button>
<p>
  Don't have an account ? &nbsp;<a [routerLink]="['/auth/register']"
    >Register</a
  >
</p>
<div class="erro">Email doesn’t Exists</div>
<div class="success">Email Exists</div>
