@import 'src/styles/colors';
@import 'src/styles/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  // width: calc(100% - 43rem);
  width: 100%;
  box-shadow: 3px 7px 20px #00000029;
  background: #fff;
  border-radius: 1rem;
  z-index: 15;
  padding: 2rem;
  .title {
    display: flex;
    align-items: center;
    height: 6rem;
    color: #000;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5rem;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    label {
      display: flex;
      align-items: center;
      color: #5d6060;
      font-size: 1.4rem;
      font-weight: 500;
      height: 4rem;
    }
    input {
      height: 6rem;
      border: 2px solid #e7ebeb;
      padding: 0 2rem;
      margin: 1rem 0;
    }
  }
  .btn {
    color: #fff;
    background-color: getColor($baseColors, 'primary');
    border: 0;
    border-radius: 6px;
    width: 15rem;
    height: 6rem;
    margin: 2rem 0;
    font-size: 1.8rem;
    margin: 5rem 0;
  }
  p {
    display: flex;
    padding: 2rem 0 5rem;
    a {
      text-decoration: underline;
    }
  }
  .success,
  .erro {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    height: 5rem;
    border-radius: 6px;
    margin-bottom: 2rem;
  }
  .erro {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  .success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
}
